@charset "UTF-8";
.titulos-inicio a {
  font-size: 30px;
  background-color: brown;
  color: #fdf0d5;
  margin: 15px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  /*para que mi botón esté bien en el centro*/
  text-decoration: none;
  transition: background 1s linear;
}

* {
  margin: 0;
  padding: 0;
  /*usé estas 2 prop para eliminar los bordes*/
  color: black;
  box-sizing: border-box;
  font-family: "Comic Relief", system-ui;
}

header {
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1;
  /*para q mi grilla no pase x arriba*/
  font-size: 20px;
}
header nav .logo {
  width: 100px;
  height: 100px;
}
header nav .container-fluid a {
  color: brown;
}
header nav .container-fluid a:hover {
  color: rgba(6, 225, 6, 0.766);
}
header nav .container-fluid .d-flex input {
  background-color: #000;
}
header nav .container-fluid .d-flex button {
  background-color: brown;
  color: white;
  border: 3px solid brown;
  transition: background 1s linear;
}
header nav .container-fluid .d-flex button:hover {
  background-color: rgba(6, 225, 6, 0.766);
  border: rgba(6, 225, 6, 0.766);
}

.btn-outline-sucess:hover {
  background-color: rgba(6, 225, 6, 0.766);
  border: rgba(6, 225, 6, 0.766);
}

.mi-fondo {
  background-color: #003049;
}

.experiencias p {
  font-size: 25px;
  color: #fdf0d5;
  text-align: center;
}
.experiencias img {
  width: 300px;
  height: 300px;
}

.nosotros-historia p {
  color: #fdf0d5;
}

.footer {
  display: block;
  background-image: url(../img/posible\ footer.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.contacto p {
  color: #fdf0d5;
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
}
.contacto div {
  font-size: 30px;
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
}

.formulario div .contact-form {
  font-size: 30px;
}

.form-button {
  font-size: 25px;
  background: rgba(128, 128, 128, 0.545);
  border-radius: 10px;
}
.form-button:hover {
  background-color: rgba(6, 225, 6, 0.766);
}

.form-input {
  width: 200px;
  height: 30px;
  background: rgba(128, 128, 128, 0.545);
}

.nosotros h1 {
  padding-top: 50px;
  font-size: 70px;
  text-align: center;
  color: #c1121f;
  font-weight: bold;
  /*letra gorda*/
  text-shadow: 2px 2px 0 black, -2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black;
}
.nosotros h2 {
  color: #c1121f;
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px 0 black, -2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black;
  margin-bottom: 50px;
}
.nosotros .nosotros-historia {
  font-size: 30px;
  margin-left: 50px;
  margin-right: 50px;
}
.nosotros .nosotros-historia .mostrador {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.nosotros .nosotros-historia .mostrador img {
  width: 600px;
  height: 400px;
}
.nosotros .nosotros-historia .mostrador p {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.nosotros .nosotros-centro {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.nosotros .nosotros-centro img {
  width: 500px;
}
.nosotros .nosotros-centro p {
  grid-row: 1;
  /*el texto está en primer fila y no abajo*/
  display: flex;
  align-items: center;
}
.nosotros .entrada {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.nosotros .entrada p {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.marcas h3 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}
.marcas .marcass {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}
.marcas .marcass img {
  margin-left: 15px;
  height: 150px;
  width: 150px;
}

.hero-productos p {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.hero-productos .div-productos {
  display: flex;
  /*distribuyo de manera horizontal*/
  justify-content: space-evenly;
  /*separo mis combos*/
}
.hero-productos .div-productos div {
  border: 2px solid black;
  padding: 5px;
  display: flex;
  /*para que mi contenido esté alineado*/
  flex-direction: column;
  /*para que mi contenido esté alineado*/
  align-items: center;
  /*para que mi botón esté bien en el centro*/
  margin-bottom: 30px;
}
.hero-productos .div-productos div h3 {
  font-size: 25px;
  text-align: center;
  width: 40vh;
  /*width con este vh para que el titulo quede en ese porcentaje respecto al hancho*/
}
.hero-productos .div-productos div img {
  width: 250px;
  height: 250px;
}
.hero-productos .div-productos div a {
  background-color: brown;
  color: #fdf0d5;
  margin: 15px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  /*para que mi botón esté bien en el centro*/
  font-size: 30px;
  text-decoration: none;
}
.hero-productos .div-productos div a:hover {
  background-color: rgba(6, 225, 6, 0.766);
}

.servicios h3 {
  text-align: center;
  font-size: 30px;
  border-style: solid;
  color: #000;
  background-color: brown;
  font-weight: bold;
  /*letra gorda*/
  text-shadow: 2px 2px 0 white, -2px 2px 0 white, 2px -2px 0 white, -2px -2px 0 white;
  margin-bottom: 50px;
}
.servicios div {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}
.servicios div .div {
  display: flex;
  font-size: 20px;
}
.servicios div .div img {
  width: 250px;
  height: 250px;
}
.servicios div .div p {
  margin-left: 3px;
  color: #fdf0d5;
}

@media screen and (max-width: 1500px) {
  .nosotros .nosotros-historia .mostrador p {
    margin-left: 0;
  }
  .nosotros .entrada {
    display: flex;
  }
  .nosotros .nosotros-centro img {
    height: 280px;
  }
  .nosotros .entrada p {
    width: 800px;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 0;
  }
  .marcas .marcass {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 1497px) {
  .experiencias {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1450px) {
  .nosotros .nosotros-centro img {
    width: 500px;
  }
  .nosotros .entrada img {
    width: 600px;
    height: 300px;
  }
}
@media screen and (max-width: 1365px) {
  .mi-fondo .experiencias {
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    /*para que mis img estén bien en el centro*/
    padding-top: 30px;
  }
  .mi-fondo .experiencias div {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 1348px) {
  .nosotros .nosotros-centro img {
    width: 450px;
  }
  .mi-fondo .titulos-inicio .div-aceites {
    display: grid;
    grid-template-columns: 300px 300px 300px;
  }
}
@media screen and (max-width: 1300px) {
  .nosotros .nosotros-centro {
    display: grid;
    grid-template-columns: 700px 500px;
  }
}
@media screen and (max-width: 1251px) {
  .nosotros .entrada img {
    width: 400px;
  }
  .servicios div div {
    flex-wrap: wrap;
  }
  .contacto div {
    font-size: 25px;
  }
  .contacto div div {
    flex-direction: column;
    align-items: center;
  }
  .contacto div div img {
    width: 40px;
  }
}
@media screen and (max-width: 1200px) {
  .titulos-inicio .div-aceites div h4 {
    width: 200px;
  }
  .titulos-inicio .div-aceites {
    display: grid;
    grid-template-columns: 350px 350px;
  }
  .nosotros .nosotros-historia .mostrador img {
    width: 500px;
  }
  .nosotros .nosotros-centro {
    display: grid;
    grid-template-columns: 600px 500px;
  }
}
@media screen and (max-width: 1190px) {
  .contacto div {
    flex-direction: column;
    margin: 20px;
  }
  .titulos-inicio .div-aceites {
    display: grid;
    grid-template-columns: 350px 350px;
  }
}
@media screen and (max-width: 1121px) {
  .nosotros .nosotros-historia .entrada p {
    padding-left: 5px;
  }
  .nosotros .nosotros-historia .mostrador p {
    padding-left: 5px;
  }
  .nosotros .nosotros-historia .nosotros-centro img {
    width: 400px;
  }
  .contacto p {
    padding-left: 50px;
    padding-right: 50px;
  }
  .hero-productos .div-productos {
    display: grid;
    grid-template-columns: 300px 300px;
  }
  .mi-fondo .experiencias .peugeot #modal {
    inset-inline-start: 300px;
  }
  .mi-fondo .experiencias .peugeot #modal video {
    height: 400px;
    width: 450px;
  }
}
@media screen and (max-width: 1051px) {
  .nosotros .nosotros-historia p {
    font-size: 20px;
  }
  .nosotros .nosotros-historia .mostrador img {
    width: 400px;
    height: 300px;
  }
  .nosotros .nosotros-historia .nosotros-centro {
    display: grid;
    grid-template-columns: 500px 500px;
  }
}
@media screen and (max-width: 1000px) {
  .experiencias {
    display: grid;
    grid-template-columns: 470px 470px;
  }
  .nosotros .nosotros-historia .nosotros-centro img {
    width: 350px;
    height: 200px;
  }
  .nosotros .nosotros-historia .entrada img {
    height: 200px;
  }
}
@media screen and (max-width: 992px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 960px) {
  .mi-fondo .titulos-inicio .div-aceites {
    display: grid;
    grid-template-columns: 300px 300px;
  }
}
@media screen and (max-width: 900px) {
  .mi-fondo .nosotros .nosotros-historia div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nosotros-historia p {
    margin-bottom: 30px;
  }
  .marcass {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
  }
}
@media screen and (max-width: 851px) {
  .contacto p {
    font-size: 20px;
  }
}
@media screen and (max-width: 841px) {
  .servicios div {
    display: grid;
    grid-template-columns: 350px 350px;
  }
  .div-aceites {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 50px;
    margin-left: 50px;
  }
}
@media screen and (max-width: 827px) {
  .mi-fondo .experiencias {
    display: grid;
    grid-template-columns: 350px 350px;
  }
  h2 {
    font-size: 40px;
  }
  .hero-productos p {
    padding-bottom: 30px;
  }
  .marcas .marcass img {
    margin-left: 0px;
  }
}
@media screen and (max-width: 803px) {
  .experiencias p {
    padding-bottom: 30px;
  }
  .peugeot {
    display: flex;
    flex-direction: column;
  }
  #modal {
    inset-inline-start: 230px;
  }
  #modal video {
    width: 350px;
    height: 450px;
  }
  .mi-fondo .nosotros .nosotros-historia .entrada p {
    width: 700px;
    text-align: center;
  }
  .mapa {
    width: 300px;
  }
  .footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 767px) {
  .mi-fondo .marcas .marcass {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 20px;
  }
}
@media screen and (max-width: 714px) {
  .mi-fondo .titulos-inicio .div-aceites {
    display: grid;
    grid-template-columns: 300px;
  }
  .mi-fondo .video-container h1 {
    font-size: 50px;
    padding-top: 30px;
  }
  .nosotros-historia div {
    display: flex;
    align-items: center;
  }
  .nosotros-historia p {
    font-size: 20px;
    padding-bottom: 30px;
  }
  .entrada img {
    width: 499px;
  }
  .entrada p {
    width: 499px;
  }
  .servicios div {
    grid-template-columns: 300px 300px;
  }
}
@media screen and (max-width: 754px) {
  .mi-fondo .experiencias .peugeot #modal {
    inset-inline-start: 200px;
  }
  .mi-fondo .experiencias .peugeot #modal video {
    height: 340px;
    width: 350px;
  }
  .marcass {
    display: grid;
    grid-template-columns: 30% 30% 30%;
  }
}
@media screen and (max-width: 700px) {
  .mi-fondo .experiencias {
    display: grid;
    grid-template-columns: 350px;
  }
  .mi-fondo .titulos-inicio .tres-img-texto {
    width: 500px;
    margin-left: 50px;
  }
  .mi-fondo .div-aceites {
    margin: 0;
  }
}
@media screen and (max-width: 693px) {
  .mi-fondo .nosotros .nosotros-historia .entrada p {
    width: 550px;
  }
}
@media screen and (max-width: 649px) {
  .mi-fondo .titulos-inicio p {
    font-size: 20px;
  }
  .nosotros h1,
  h2 {
    font-size: 50px;
  }
  .nosotros-historia p {
    width: 500px;
    padding-bottom: 20px;
  }
  .mapa {
    width: 250px;
  }
  .div-aceites {
    display: grid;
    grid-template-columns: 250px 250px;
  }
}
@media screen and (max-width: 638px) {
  .video-container video {
    width: 500px;
  }
  .div-productos {
    display: grid;
    grid-template-columns: 250px 250px;
  }
  .servicios div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .servicios p {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .mi-fondo .titulos-inicio .tres-img-texto {
    width: 450px;
    padding-left: 50px;
  }
  .mi-fondo .experiencias .peugeot #modal {
    inset-inline-start: 140px;
  }
  .mi-fondo .experiencias .peugeot #modal video {
    height: 340px;
    width: 300px;
  }
}
@media screen and (max-width: 558px) {
  .mi-fondo .titulos-inicio .linea-divisoria {
    display: none;
  }
  .mi-fondo .titulos-inicio .tres-img-texto {
    padding-left: 0;
  }
  .mi-fondo .marcas .marcass {
    display: grid;
    grid-template-columns: 100px 100px;
  }
  .mi-fondo .nosotros .nosotros-historia .entrada p {
    width: 450px;
  }
}
@media screen and (max-width: 500px) {
  .mi-fondo .video-container h1 {
    font-size: 40px;
  }
  .mi-fondo .video-container h2 {
    font-size: 30px;
    width: 250px;
    margin-bottom: 0;
  }
  .video-container video {
    display: none;
  }
  .mi-fondo .experiencias .peugeot #openModal {
    width: 250px;
  }
  .experiencias div {
    margin-left: 0;
  }
  .experiencias div img {
    width: 250px;
    height: 250px;
  }
  .mi-fondo .experiencias div p {
    width: 250px;
    margin-left: 0;
  }
  #openModal {
    width: 250px;
    padding: 0;
  }
  .mi-fondo .titulos-inicio .tres-img-texto {
    padding-left: 0;
    width: 380px;
  }
}
@media screen and (max-width: 499px) {
  .mi-fondo .nosotros .nosotros-historia .mostrador img {
    width: 350px;
    height: 300px;
  }
  .mi-fondo .nosotros .nosotros-historia .mostrador p {
    width: 350px;
    text-align: center;
  }
  .nosotros-centro p {
    width: 349px;
  }
  .mi-fondo .nosotros .nosotros-historia .nosotros-centro p {
    width: 350px;
    text-align: center;
  }
  .mi-fondo .nosotros .nosotros-historia .entrada p {
    width: 350px;
    text-align: center;
  }
  .mi-fondo .marcas .marcass img {
    margin-left: 0;
  }
  .marcas h3 {
    text-align: center;
  }
  .mapa {
    width: 200px;
    height: 200px;
  }
  .div-productos {
    display: grid;
    grid-template-columns: 250px;
  }
}
@media screen and (max-width: 451px) {
  .focus img {
    width: 350px;
  }
  .formulario h2 {
    font-size: 30px;
  }
  .mi-fondo .titulos-inicio .tres-img-texto {
    width: 340px;
  }
  .mi-fondo .experiencias .peugeot #modal {
    inset-inline-start: 60px;
  }
  .mi-fondo .experiencias .peugeot #modal video {
    height: 340px;
    width: 250px;
  }
}
@media screen and (max-width: 399px) {
  .mi-fondo .video-container h1 {
    font-size: 30px;
  }
  .mi-fondo .video-container h2 {
    font-size: 20px;
    width: 250px;
    margin-bottom: 0;
  }
  .mi-fondo .titulos-inicio h3 {
    font-size: 30px;
    margin-top: 20px;
  }
  .mi-fondo .titulos-inicio .div-aceites {
    margin-left: 0;
  }
  .golcito img {
    width: 350px;
  }
  .fitito img {
    width: 350px;
  }
  .nosotros .nosotros-historia .entrada img {
    width: 300px;
  }
  .mi-fondo .marcas .marcass img {
    height: 100px;
    width: 100px;
  }
}
@media screen and (max-width: 379px) {
  .cambio-focos img {
    width: 350px;
  }
}
@media screen and (max-width: 360px) {
  .cambio-focos p {
    width: 340px;
  }
}
/*!--- MEDIA QUARY 350 PARA ABAJO-------*/
@media screen and (max-width: 351px) {
  .mi-fondo .nosotros h2 {
    font-size: 20px;
    width: 250px;
    margin-left: 50px;
  }
  .mi-fondo .titulos-inicio .div-aceites {
    margin-left: 50px;
  }
  .mi-fondo .titulos-inicio p {
    font-size: 15px;
    padding: 5px;
  }
  .video-container h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
  }
  .video-container h1::after {
    content: "✨";
  }
  .video-container h1::before {
    content: "✨";
  }
  .mi-fondo .hero-productos h1 {
    font-size: 20px;
  }
  header .navbar {
    position: sticky;
  }
  .header {
    position: sticky;
    top: 0;
  }
  .video-container h2 {
    font-size: 30px;
  }
  .video-container video {
    display: none;
  }
  .mi-fondo .titulos-inicio p {
    margin: 15px;
  }
  .mi-fondo .titulos-inicio .tres-img-texto {
    width: 250px;
  }
  .mi-fondo .experiencias div p {
    width: 200px;
  }
  .mi-fondo .experiencias .peugeot #openModal {
    width: 200px;
    padding: 5px;
  }
  .div-aceites div {
    width: 250px;
  }
  .tres-img-texto {
    padding-top: 15px;
  }
  .experiencias div img {
    height: 200px;
    width: 200px;
  }
  .experiencias div p {
    font-size: 15px;
    width: 200px;
  }
  .mi-fondo .experiencias .peugeot #modal {
    inset-inline-start: 25px;
  }
  .mi-fondo .experiencias .peugeot #modal video {
    height: 340px;
    width: 300px;
  }
  #modal {
    inset-inline-start: 30px;
    /*direccionalidad*/
  }
  .nosotros p {
    font-size: 20px;
    padding: 15px;
  }
  .nosotros img {
    width: 340px;
  }
  .mostrador {
    display: grid;
    grid-template-columns: 300px;
  }
  .marcass {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 10px;
    padding-bottom: 10px;
  }
  .marcass img {
    width: 70px;
    height: 70px;
  }
  .marcas h3 {
    margin-left: 25px;
    margin-top: 30px;
  }
  .hero-productos .div-productos {
    display: grid;
    grid-template-columns: 300px;
    margin-left: 25px;
  }
  .hero-productos p {
    margin-bottom: 50px;
    padding: 5px;
  }
  .div-servicios-cambio img {
    width: 300px;
    margin-left: 30px;
  }
  .div-servicios-cambio img {
    margin-left: 0;
  }
  .div-verificacion img {
    width: 160px;
  }
  .div-limpieza img {
    width: 200px;
  }
  .div-limpieza {
    flex-wrap: wrap;
  }
  .contacto p {
    font-size: 20px;
  }
  .contact-form {
    font-size: 20px;
  }
  .contact-form div input {
    width: 130px;
    height: 20px;
  }
  .form-button {
    font-size: 20px;
  }
  .contact-form div {
    padding: 3px;
  }
  .footer {
    padding: 5px;
  }
  .mapa {
    width: 180px;
  }
}
.video-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.video-container h1 {
  padding-top: 50px;
  font-size: 70px;
  text-align: center;
  color: #c1121f;
  font-weight: bold;
  /*letra gorda*/
  text-shadow: 2px 2px 0 black, -2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black;
}
.video-container h2 {
  color: #c1121f;
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px 0 black, -2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black;
  margin-bottom: 50px;
}

.titulos-inicio h3 {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}
.titulos-inicio p {
  font-size: 30px;
  color: #000;
  border: 3px solid black;
  background-color: brown;
  text-align: center;
  margin: 45px;
  border-radius: 50px;
  font-weight: bold;
}
.titulos-inicio .div-aceites {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  /*ancho de cada div*/
  grid-template-rows: 400px;
  /*define mi estructura interna del "alto". Puedo definir al lado de px otro valor exterior abajo. una capacidad más.*/
  justify-content: center;
  gap: 30px;
  padding-bottom: 30px;
  /*para q los aceites no estén pegados a la siguiente seccion*/
  margin-bottom: 50px;
  /*distancia entre la siguiente section*/
}
.titulos-inicio .div-aceites div {
  border: 2px solid black;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: width 5s ease, background-color 1s ease;
}
.titulos-inicio .div-aceites div:hover {
  background-color: #669bbc;
}
.titulos-inicio h4 {
  font-size: 25px;
  text-align: center;
  width: 200px;
}
.titulos-inicio img {
  height: 250px;
  width: 250px;
}
.titulos-inicio a:hover {
  background-color: rgba(6, 225, 6, 0.766);
}

.tres-img-texto {
  color: #fdf0d5;
  text-align: center;
  font-style: italic;
  margin: 50px;
}

.linea-divisoria {
  display: flex;
  justify-content: center;
}
.linea-divisoria div {
  width: 500px;
  border-top: 3px solid white;
  margin-bottom: 50px;
}

.experiencias {
  display: grid;
  grid-template-columns: 470px 470px 470px;
  gap: 20px;
  padding-bottom: 50px;
  justify-items: center;
  font-size: 20px;
}
.experiencias .cambio-focos p {
  width: 300px;
}
.experiencias .golcito p {
  width: 300px;
}
.experiencias .focus p {
  width: 300px;
}
.experiencias .peugeot {
  display: flex;
  flex-direction: column;
}
.experiencias .peugeot #openModal {
  width: 300px;
  backdrop-filter: blur(5px);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: brown;
  color: #fdf0d5;
  cursor: pointer;
}
.experiencias .peugeot #openModal:hover {
  background-color: rgba(6, 225, 6, 0.766);
}
.experiencias .peugeot #modal {
  background-color: rgba(0, 0, 0, 0.2431372549);
  inset-inline-start: 500px;
  /*no pude distribuirlo ni con grid ni con flexbox xq sino el video aparecía antes de apretar video*/
  margin-top: 50px;
  backdrop-filter: blur(5px);
  /* Efecto de desenfoque */
}
.experiencias .peugeot #modal #closeModal {
  display: flex;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: brown;
  color: white;
  cursor: pointer;
}
.experiencias .peugeot #modal #closeModal:hover {
  background-color: rgba(6, 225, 6, 0.766);
}

/*# sourceMappingURL=estilos.css.map */
