@charset "UTF-8";
.titulos-inicio a, .hero-productos a {
  font-size: 30px;
  background-color: brown;
  color: #fdf0d5;
  margin: 15px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  /*para que mi botón esté bien en el centro*/
  text-decoration: none;
  transition: background 1s linear;
}

.experiencias .peugeot #modal #closeModal:hover, .experiencias .peugeot #openModal:hover, .form-button:hover, .d-flex button:hover {
  transition: background 1s linear;
  background-color: rgba(6, 225, 6, 0.766);
}

* {
  margin: 0;
  padding: 0;
  /*usé estas 2 prop para eliminar los bordes*/
  color: black;
  box-sizing: border-box;
  font-family: "Comic Relief", system-ui;
}

header {
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1;
  /*para q mi grilla no pase x arriba*/
  font-size: 20px;
}
header nav .logo {
  width: 100px;
  height: 100px;
}
header nav .container-fluid a {
  color: brown;
}
header nav .container-fluid a:hover {
  color: rgba(6, 225, 6, 0.766);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='brown' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.d-flex button {
  color: #fdf0d5;
  border: 3px solid brown;
  background-color: brown;
  transition: background 1s linear;
}
.d-flex button:hover {
  border: rgba(6, 225, 6, 0.766);
}

.mi-fondo {
  background-color: #003049;
}

h1 {
  padding-top: 50px;
  font-size: 70px;
  text-align: center;
  color: #c1121f;
  font-weight: bold;
  /*letra gorda*/
  text-shadow: 2px 2px 0 black, -2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black;
}

h2 {
  color: #c1121f;
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px 0 black, -2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black;
  margin-bottom: 50px;
}

.experiencias p {
  font-size: 25px;
  color: #fdf0d5;
  text-align: center;
}
.experiencias img {
  width: 300px;
  height: 300px;
}

.nosotros-historia p {
  color: #fdf0d5;
}

.footer {
  display: block;
  background-image: url(../img/posible\ footer.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.footer div {
  display: flex;
  align-items: center;
}
.footer a {
  padding-left: 50px;
}
.footer .mapa {
  padding-left: 50px;
}

.contacto p {
  color: #fdf0d5;
  font-size: 30px;
  text-align: center;
  padding: 50px;
}
.contacto div {
  color: #fdf0d5;
  font-size: 25px;
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
}

.formulario h2 {
  background: linear-gradient(90deg, #669bbc, #003049);
  background-size: 200% 200%;
  animation: gradientAnimation 2s infinite alternate;
}
.formulario div .contact-form {
  padding: 50px;
  font-size: 30px;
}

.form-button {
  width: 70px !important;
  font-size: 25px;
  background: rgba(128, 128, 128, 0.545);
  border-radius: 10px;
  margin-top: 10px;
}
.form-input {
  width: 200px;
  height: 30px;
  background: rgba(128, 128, 128, 0.545);
  border-radius: 10px;
}

.preguntas-frecuentes {
  padding: 50px;
}
.preguntas-frecuentes h3 {
  text-align: center;
  color: #fdf0d5;
  font-size: 30px;
}
.preguntas-frecuentes .accordion-flush {
  padding: 50px;
  border-right: 15px;
  border-left: 15px;
  border-radius: 15px;
}
.preguntas-frecuentes .accordion-flush .accordion-item {
  border-right: 15px;
  border-left: 15px;
  border-radius: 15px;
  background-color: #669bbc;
}
.preguntas-frecuentes .accordion-flush .accordion-item .accordion-header {
  background-color: #669bbc;
  border-right: 15px;
  border-left: 15px;
  border-radius: 15px;
}
.preguntas-frecuentes .accordion-flush .accordion-item .accordion-header .accordion-button {
  border-right: 15px;
  border-left: 15px;
  border-radius: 15px;
  color: brown;
  font-weight: 500;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.nosotros h1 {
  padding-top: 50px;
  font-size: 70px;
  text-align: center;
  color: #c1121f;
  font-weight: bold;
  /*letra gorda*/
  text-shadow: 2px 2px 0 black, -2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black;
}
.nosotros h2 {
  color: #c1121f;
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px 0 black, -2px 2px 0 black, 2px -2px 0 black, -2px -2px 0 black;
  height: 30vh;
}
.nosotros .nosotros-historia {
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.nosotros .nosotros-historia .mostrador {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.nosotros .nosotros-historia .mostrador img {
  width: 600px;
  height: 400px;
}
.nosotros .nosotros-historia .mostrador p {
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.nosotros .nosotros-centro {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.nosotros .nosotros-centro img {
  width: 500px;
}
.nosotros .nosotros-centro p {
  grid-row: 1;
  /*el texto está en primer fila y no abajo*/
  display: flex;
  align-items: center;
  padding-right: 50px;
}
.nosotros .entrada {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.nosotros .entrada p {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.marcas h3 {
  color: #fdf0d5;
  font-size: 50px;
  display: flex;
  justify-content: center;
  font-family: "Lora", serif;
  height: 30vh;
  align-items: flex-end;
  margin-bottom: 50px;
}
.marcas .marcass {
  padding: 50px;
}
.marcas .marcass img {
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 1500px) {
  .nosotros .nosotros-historia .mostrador p {
    margin-left: 0;
  }
  .nosotros .entrada {
    display: flex;
  }
  .nosotros .nosotros-centro img {
    height: 280px;
  }
  .nosotros .entrada p {
    width: 800px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .marcas .marcass {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width: 1348px) {
  .nosotros .nosotros-centro img {
    width: 450px;
  }
}
@media screen and (max-width: 1300px) {
  .nosotros .nosotros-centro {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1251px) {
  .nosotros .nosotros-historia .mostrador img {
    width: 500px;
    height: 300px;
  }
  .nosotros .nosotros-historia .entrada img {
    width: 400px;
  }
  .mi-fondo .servicios div .div-limpieza p {
    padding-left: 0;
  }
}
@media screen and (max-width: 1215px) {
  .mi-fondo .nosotros .nosotros-historia .nosotros-centro {
    display: grid;
    grid-template-columns: 600px 500px;
  }
  .mi-fondo .nosotros .nosotros-historia .marcas h3 {
    font-size: 40px;
  }
}
@media screen and (max-width: 1200px) {
  .mi-fondo .nosotros .nosotros-historia .mostrador img {
    width: 500px;
  }
  .mi-fondo .marcas h3 {
    padding: 30px;
    text-align: center;
  }
}
@media screen and (max-width: 1121px) {
  .nosotros .nosotros-historia .mostrador p {
    padding-left: 30px;
  }
  .nosotros .nosotros-historia .nosotros-centro img {
    width: 400px;
  }
  .nosotros .nosotros-historia .entrada p {
    padding-left: 5px;
  }
}
@media screen and (max-width: 1065px) {
  .mi-fondo .nosotros .nosotros-historia .nosotros-centro {
    display: grid;
    grid-template-columns: 500px 500px;
  }
}
@media screen and (max-width: 1051px) {
  .nosotros .nosotros-historia p {
    font-size: 20px;
  }
  .nosotros .nosotros-historia .mostrador img {
    width: 400px;
    height: 300px;
  }
}
@media screen and (max-width: 1000px) {
  .mi-fondo .nosotros .nosotros-historia .mostrador img {
    width: 350px;
    height: 200px;
  }
  .mi-fondo .nosotros .nosotros-historia .nosotros-centro img {
    width: 350px;
    height: 200px;
  }
  .mi-fondo .nosotros .nosotros-historia .entrada img {
    width: 350px;
    height: 200px;
  }
  .mi-fondo .marcas .marcass #multiCarousel .carousel-inner .carousel-item .row .col .w-100 {
    height: 70px;
  }
}
@media screen and (max-width: 915px) {
  .mi-fondo .nosotros .nosotros-historia p {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .mi-fondo .nosotros .nosotros-historia div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mi-fondo .nosotros .nosotros-historia .mostrador p {
    padding-left: 0;
  }
  .mi-fondo .nosotros .nosotros-historia .nosotros-centro {
    display: flex;
    flex-direction: column !important;
  }
  .mi-fondo .nosotros .nosotros-historia .nosotros-centro p {
    padding-right: 0;
  }
  .mi-fondo .nosotros .nosotros-historia .entrada p {
    margin-left: 0;
  }
}
@media screen and (max-width: 866px) {
  .mi-fondo .nosotros .nosotros-historia .entrada p {
    width: auto;
    text-align: center;
  }
}
@media screen and (max-width: 841px) {
  .marcas h3 {
    text-align: center;
    font-size: 40px;
  }
}
@media screen and (max-width: 803px) {
  .mi-fondo .marcas h3 {
    height: 30vh;
    padding: 15px;
  }
}
@media screen and (max-width: 714px) {
  .nosotros-historia div {
    display: flex;
    align-items: center;
  }
  .nosotros-historia p {
    font-size: 20px;
    padding-bottom: 30px;
  }
  .entrada img {
    width: 499px;
  }
  .entrada p {
    width: 499px;
  }
}
@media screen and (max-width: 693px) {
  .mi-fondo .nosotros .nosotros-historia .entrada p {
    width: 550px;
  }
}
@media screen and (max-width: 649px) {
  .nosotros-historia p {
    /*width: 500px;*/
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 638px) {
  .mi-fondo .marcas .marcass #multiCarousel .carousel-inner .carousel-item .row .col .w-100 {
    width: 50px !important;
    height: 50px !important;
  }
}
@media screen and (max-width: 565px) {
  .mi-fondo .nosotros .nosotros-historia .entrada p {
    padding-left: 0;
    width: 400px !important;
  }
}
@media screen and (max-width: 500px) {
  .mi-fondo .nosotros h2 {
    font-size: 30px;
    height: 15vh;
  }
}
@media screen and (max-width: 465px) {
  .mi-fondo .nosotros .nosotros-historia .entrada p {
    width: 350px;
  }
  .marcas .marcass #multiCarousel .carousel-inner .carousel-item .row {
    --bs-gutter-x: 0.5rem;
  }
}
@media screen and (max-width: 499px) {
  .nosotros-centro p {
    width: 349px;
  }
  .mi-fondo .nosotros .nosotros-historia p {
    width: 350px;
    text-align: center;
  }
  .mi-fondo .marcas .marcass img {
    margin-left: 0;
  }
  .marcas h3 {
    text-align: center;
  }
}
@media screen and (max-width: 451px) {
  .mi-fondo .marcas h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 415px) {
  .mi-fondo .nosotros .nosotros-historia p {
    width: 300px;
  }
  .mi-fondo .nosotros .nosotros-historia .mostrador img {
    width: 300px;
    height: 250px;
  }
  .mi-fondo .nosotros .nosotros-historia .nosotros-centro img {
    width: 300px;
  }
  .mi-fondo .nosotros .nosotros-historia .entrada img {
    width: 350px;
  }
  .mi-fondo .nosotros .nosotros-historia .entrada p {
    width: auto !important;
  }
}
@media screen and (max-width: 399px) {
  .nosotros .nosotros-historia .mostrador img {
    width: 300px;
  }
  .nosotros .nosotros-historia .entrada img {
    width: 300px;
  }
  .marcas .marcass {
    padding: 20px;
  }
}
@media screen and (max-width: 379px) {
  .marcas .marcass #multiCarousel .carousel-inner .carousel-item .row {
    --bs-gutter-y: 0.5rem;
  }
}
@media screen and (max-width: 365px) {
  .mi-fondo .nosotros .nosotros-historia .entrada img {
    width: 300px;
  }
  .mi-fondo .nosotros .nosotros-historia .entrada p {
    width: 300px;
  }
}
@media screen and (max-width: 351px) {
  .mi-fondo .nosotros h1 {
    font-size: 30px;
  }
  .mi-fondo .nosotros h2 {
    font-size: 20px;
    width: 250px;
    margin-left: 50px;
    height: 100px;
  }
  .mi-fondo .nosotros p {
    font-size: 15px;
  }
  .mi-fondo .nosotros .nosotros-historia p {
    margin-top: 0;
  }
  .mi-fondo .nosotros .nosotros-historia img {
    width: 300px;
    padding: 15px;
  }
  .marcas h3 {
    height: 20vh !important;
    font-size: 25px !important;
    margin-bottom: 0;
  }
}
.hero-productos p {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  color: #669bbc;
}
.hero-productos .div-productos {
  display: flex;
  /*distribuyo de manera horizontal*/
  justify-content: space-evenly;
  /*separo mis combos*/
}
.hero-productos .div-productos .card {
  width: 18rem;
  margin-bottom: 30px;
  border: 3px solid black;
  background-color: #003049;
  border-radius: 15px;
  transition: transform 0.3s ease;
  align-items: center;
}
.hero-productos .div-productos .card:hover {
  transform: scale(1.1);
}
.hero-productos .div-productos .card img {
  width: 250px;
  height: 250px;
  padding-bottom: 10px;
}
.hero-productos .div-productos .card .card-body {
  background-color: #669bbc;
  border-radius: 15px;
}
.hero-productos .div-productos .card .card-body h3 {
  color: #fdf0d5;
  font-size: 20px;
  text-align: center;
}
.hero-productos a {
  background-color: brown;
  color: #fdf0d5;
  margin: 15px;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
}
.hero-productos a:hover {
  background-color: rgba(6, 225, 6, 0.766);
}

.mi-fondo .servicios h3 {
  text-align: center;
  font-size: 30px;
  border-style: solid;
  color: #000;
  background-color: brown;
  font-weight: bold;
  /*letra gorda*/
  text-shadow: 2px 2px 0 white, -2px 2px 0 white, 2px -2px 0 white, -2px -2px 0 white;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.mi-fondo .servicios div {
  display: flex;
  font-size: 25px;
}
.mi-fondo .servicios div .div-verificacion {
  padding-right: 20px;
}
.mi-fondo .servicios div .div-servicios-cambio {
  padding-left: 20px;
  padding-right: 20px;
}
.mi-fondo .servicios div img {
  width: 230px;
  height: 250px;
}
.mi-fondo .servicios div .lista {
  display: flex;
  flex-direction: column;
}
.mi-fondo .servicios div .lista h5 {
  color: #fdf0d5;
  font-size: 25px;
  background-color: brown;
}
.mi-fondo .servicios div .lista ul {
  color: #fdf0d5;
  list-style-type: none;
  padding-left: 0;
}
.mi-fondo .servicios div .lista ul li {
  color: #fdf0d5;
  width: 230px;
  padding-bottom: 7px;
}
.mi-fondo .servicios div .div-limpieza p {
  color: #fdf0d5;
  padding-left: 15px;
  width: 230px;
  padding-right: 50px;
}

@keyframes moverArriba {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.servicios div {
  animation: moverArriba 2s ease-out forwards;
}

.cotizacion {
  margin-top: 50px;
}
.cotizacion h6 {
  padding-top: 50px;
  font-size: 50px;
  color: #fdf0d5;
  text-align: center;
  /*background: linear-gradient(90deg, #669bbc, #003049);*/
  background: #C1121F;
  background: linear-gradient(90deg, #C1121F 0%, rgb(253, 29, 29) 50%, rgb(242, 241, 240) 100%);
  background-size: 200% 200%;
  animation: gradientAnimation 2s infinite alternate;
  background-clip: text;
  color: transparent;
  font-weight: 1000;
}
.cotizacion .row {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}
.cotizacion .row .col-md-3 .form-label {
  color: #fdf0d5;
  font-size: 20px;
}
.cotizacion .col-12 {
  display: flex;
  justify-content: center;
  max-width: 0;
  margin-left: 40px;
  margin-top: 45px;
}
.cotizacion .col-12 .btn {
  border-color: brown;
  background-color: brown;
  font-size: 20px;
  padding: 5px;
}
.cotizacion .col-12 .btn:hover {
  background-color: rgba(6, 225, 6, 0.766);
  transition: background 1s linear;
}

.medios-de-pago {
  padding-top: 50px;
  padding-bottom: 50px;
}
.medios-de-pago div p {
  padding-bottom: 50px;
  padding-top: 50px;
  margin-bottom: 0;
  color: #fdf0d5;
  font-size: 35px;
  text-align: center;
  font-weight: 600;
}
.medios-de-pago div .tarjetas {
  display: flex;
  justify-content: space-around;
}
.medios-de-pago div .tarjetas img {
  width: 70px;
  height: 50px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
/*@media screen and (max-width: 1500px) {
    .nosotros {
        .nosotros-historia {
            .mostrador {
                p {
                    margin-left: 0;
                }
            }
        }
    }

    .nosotros {
        .entrada {
            display: flex;
        }
    }

    .nosotros {
        .nosotros-centro {
            img {
                height: 280px;
            }
        }
    }

    .nosotros {
        .entrada {
            p {
                width: 800px;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    .marcas {
        .marcass {
            display: flex;
            justify-content: space-around;
        }
    }
}

@media screen and (max-width:1497px) {
    .experiencias {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1450px) {
    .nosotros {
        .nosotros-centro {
            img {
                width: 500px;
            }
        }
    }

    .nosotros {
        .entrada {
            img {
                width: 600px;
                height: 300px;
            }
        }
    }

    .servicios {
        margin-left: 50px;

        div {
            div {
                flex-wrap: wrap;

                ul {
                    h5 {
                        margin-top: 15px;
                    }
                }
            }

            .lista {
                margin-left: 0;
            }

            .div-limpieza {
                img {
                    margin-left: 0;
                }

                p {
                    margin-top: 15px;
                }
            }
        }
    }
}*/
/*@media screen and (max-width: 1381px) {
    .mi-fondo {
        .experiencias {
            gap: 0;
        }
    }
}

@media screen and (max-width: 1365px) {
    .mi-fondo {
        .experiencias {
            display: grid;
            grid-template-columns: 500px 500px;
            justify-content: center;
            /*para que mis img estén bien en el centro*/
/*padding-top: 30px;

            div {
                padding-bottom: 20px;
            }
        }
    }
}*/
/*@media screen and (max-width: 1348px) {
   /* .nosotros {
        .nosotros-centro {
            img {
                width: 450px;
            }
        }
    }*/
/*.mi-fondo {
        .titulos-inicio {
            .div-aceites {
                display: grid;
                grid-template-columns: 300px 300px 300px;
            }
        }
    }
}*/
/*@media screen and (max-width: 1300px) {

    .nosotros {
        .nosotros-centro {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}*/
@media screen and (max-width: 1251px) {
  /*.nosotros {
      .nosotros-historia {
          .mostrador {
              img {
                  width: 500px;
                  height: 300px;
              }
          }

          .entrada {
              img {
                  width: 400px;
              }
          }
      }
  }*/
  .contacto div {
    font-size: 25px;
  }
  .contacto div div {
    flex-direction: column;
    align-items: center;
  }
  .contacto div div img {
    width: 40px;
  }
  /*.mi-fondo {
      .servicios {
          div {
              .div-limpieza {
                  p {
                      padding-left: 0;
                  }
              }
          }
      }
  }*/
}
/*@media screen and (max-width: 1215px) {
    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                .nosotros-centro {
                    display: grid;
                    grid-template-columns: 600px 500px;
                }

                .marcas {
                    h3 {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}*/
/*@media screen and (max-width: 1200px) {
    .titulos-inicio {
        .div-aceites {
            div {
                h5 {
                    width: 200px;
                }
            }
        }
    }

    /*.mi-fondo {
        .nosotros {
            .nosotros-historia {
                .mostrador {
                    img {
                        width: 500px;
                    }
                }
            }
        }

        .marcas {
            h3 {
                padding: 30px;
                text-align: center;
            }
        }
    }*/
@media screen and (max-width: 1190px) {
  .contacto div {
    flex-direction: column;
    margin: 20px;
  }
}
@media screen and (max-width: 1121px) {
  /*.nosotros {
      .nosotros-historia {
          .mostrador {
              p {
                  padding-left: 30px;
              }
          }

          .nosotros-centro {
              img {
                  width: 400px;
              }
          }

          .entrada {
              p {
                  padding-left: 5px;
              }
          }
      }
  }*/
  .contacto p {
    padding-left: 50px;
    padding-right: 50px;
  }
  .mi-fondo .hero-productos .div-productos {
    display: grid;
    grid-template-columns: 300px 300px;
  }
  .mi-fondo .hero-productos .div-productos div h3 {
    width: 250px;
  }
  .mi-fondo .experiencias .peugeot #modal {
    inset-inline-start: 300px;
  }
  .mi-fondo .experiencias .peugeot #modal video {
    height: 400px;
    width: 450px;
  }
}
/*@media screen and (max-width: 1101px) {
    .video {
        video {
            width: 400px;
        }
    }
}*/
/*@media screen and (max-width: 1065px) {
    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                .nosotros-centro {
                    display: grid;
                    grid-template-columns: 500px 500px;
                }
            }
        }
    }
}*/
/*@media screen and (max-width: 1051px) {
    .nosotros {
        .nosotros-historia {
            p {
                font-size: 20px;
            }
        }
    }

    .nosotros {
        .nosotros-historia {
            .mostrador {
                img {
                    width: 400px;
                    height: 300px;
                }
            }
        }
    }
}*/
/*@media screen and (max-width:1000px) {
    .mi-fondo {
        .experiencias {
            display: grid;
            grid-template-columns: 470px 470px;
        }
    }

    /*.mi-fondo {
        .nosotros {
            .nosotros-historia {
                .mostrador {
                    img {
                        width: 350px;
                        height: 200px;
                    }
                }

                .nosotros-centro {
                    img {
                        width: 350px;
                        height: 200px;
                    }
                }

                .entrada {
                    img {
                        width: 350px;
                        height: 200px;
                    }
                }
            }
        }

        .marcas {
            .marcass {
                #multiCarousel {
                    .carousel-inner {
                        .carousel-item {
                            .row {
                                .col {
                                    .w-100 {
                                        height: 70px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }*/
@media screen and (max-width: 992px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .navbar .logo {
    width: 75px;
    height: 75px;
  }
}
/*@media screen and (max-width: 975px) {
    .mi-fondo {
        .titulos-inicio {
            .div-aceites {
                display: grid;
                grid-template-columns: 300px 300px;
            }
        }
    }
}*/
@media screen and (max-width: 915px) {
  /*.mi-fondo {
      .nosotros {
          .nosotros-historia {
              p {
                  margin-top: 15px;
                  margin-bottom: 30px;
              }

              div {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
              }

              .mostrador {
                  p {
                      padding-left: 0;
                  }
              }

              .nosotros-centro {
                  display: flex;
                  flex-direction: column !important;

                  p {
                      padding-right: 0;
                  }
              }

              .entrada {
                  p {
                      margin-left: 0;
                  }
              }
          }
      }
  }*/
  .mi-fondo .servicios {
    margin-left: 0;
  }
  .mi-fondo .servicios div {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
  }
  .mi-fondo .servicios div div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .mi-fondo .servicios div div ul li {
    width: 300px;
  }
  .mi-fondo .servicios div .div-limpieza img {
    margin-left: 15px;
    margin-top: 30px;
  }
  .mi-fondo .servicios div .div-limpieza p {
    padding-left: 15px;
    margin-left: 50px;
    width: 260px;
    margin-bottom: 50px;
  }
  .mi-fondo .servicios div h5 {
    width: 230px;
  }
}
@media screen and (max-width: 875px) {
  .mi-fondo .servicios {
    margin-left: 0;
  }
}
/*@media screen and (max-width: 866px) {
    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                .entrada {
                    p {
                        width: auto;
                        text-align: center;
                    }
                }
            }
        }
    }
}*/
@media screen and (max-width: 851px) {
  .contacto p {
    font-size: 20px;
  }
}
@media screen and (max-width: 841px) {
  .mi-fondo .titulos-inicio .div-aceites {
    display: grid;
    grid-template-columns: 300px;
  }
  /*.marcas {
      h3 {
          text-align: center;
          font-size: nth($font-size, 5);
      }
  }*/
}
/*@media screen and (max-width:835px) {
    .mi-fondo {
        .experiencias {
            gap: 0;
        }
    }

    .mi-fondo {
        .servicios {
            div {
                padding-left: 0;
            }
        }
    }
}*/
@media screen and (max-width: 827px) {
  /*.mi-fondo {
      .video {
          display: flex;
          flex-direction: column-reverse !important;
          /*important para anular row-reverse*/
  /*align-items: center;

          video {
              margin-top: 50px;
              margin-bottom: 50px;
          }

          p {
              text-align: center;
              width: auto !important;
              padding: 50px;
          }
      }

      .titulos-inicio {
          h3 {
              padding-top: 0;
          }
      }

      .experiencias {
          display: grid;
          grid-template-columns: 350px 350px;
      }
  }*/
  h2 {
    font-size: 40px;
  }
  .hero-productos p {
    padding-bottom: 30px;
  }
  .mi-fondo .servicios {
    margin-left: 0;
  }
  .mi-fondo .servicios div {
    display: grid;
    grid-template-columns: 350px 350px;
  }
}
@media screen and (max-width: 803px) {
  /*.experiencias p {
      padding-bottom: 30px;
  }

  .peugeot {
      display: flex;
      flex-direction: column;
  }

  #modal {
      inset-inline-start: 230px;
  }

  #modal video {
      width: 350px;
      height: 450px;
  }*/
  /*.mi-fondo {
      .marcas {
          h3 {
              height: 30vh;
              padding: 15px;
          }
      }
  }*/
  .mapa {
    width: 300px;
  }
  .footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 768px) {
  .cotizacion {
    margin: 50px;
  }
  .cotizacion .col-12 {
    margin-left: 0;
  }
  .medios-de-pago {
    height: 60vh;
    display: flex;
    align-items: flex-end;
    margin-left: 50px;
  }
}
@media screen and (max-width: 754px) {
  /*.mi-fondo {
      .experiencias {
          .peugeot {
              #modal {
                  inset-inline-start: 200px;

                  video {
                      height: 340px;
                      width: 350px;
                  }
              }

          }
      }
  }*/
  .mi-fondo .servicios div {
    padding-left: 0px;
  }
  .mi-fondo .cotizacion h6 {
    padding-bottom: 20px;
  }
  .footer .mapa {
    height: 200px;
  }
}
@media screen and (max-width: 725px) {
  .mi-fondo .servicios div {
    display: grid;
    grid-template-columns: 350px;
    justify-content: center;
    padding-bottom: 50px;
  }
  .mi-fondo .servicios div .div-limpieza {
    margin: 0;
  }
  .mi-fondo .servicios div .div-limpieza img {
    margin-left: 0;
  }
  .mi-fondo .servicios div .div-limpieza p {
    margin-left: 0px;
  }
}
@media screen and (max-width: 720px) {
  .mi-fondo .servicios div .div-verificacion h5 {
    margin-left: 20px;
  }
  .mi-fondo .servicios div .div-verificacion img {
    margin-left: 20px;
  }
  .mi-fondo .servicios div .div-verificacion ul {
    margin-left: 20px;
  }
  .mi-fondo .servicios div .div-limpieza img {
    margin-left: 20px;
  }
  .mi-fondo .servicios div .div-limpieza p {
    padding-right: 0;
    padding-left: 0;
    margin-left: 40px;
    width: 250px;
  }
}
@media screen and (max-width: 714px) {
  /*.mi-fondo {
      .titulos-inicio {
          h4 {
              font-size: nth($font-size, 5);
          }
      }
  }

  .mi-fondo {
      h1 {
          font-size: 50px;
          padding-top: 30px;
      }
  }*/
  /*.nosotros-historia div {
      display: flex;
      align-items: center;
  }

  .nosotros-historia p {
      font-size: 20px;
      padding-bottom: 30px;
  }

  .entrada img {
      width: 499px;
  }

  .entrada p {
      width: 499px;
  }*/
  .servicios div {
    grid-template-columns: 300px 300px;
  }
}
@media screen and (max-width: 700px) {
  /*.mi-fondo {
      .div-aceites {
          margin: 0;
      }
  }


  .mi-fondo {
      .titulos-inicio {
          .tres-img-texto {
              width: 500px;
          }
      }
  }

  .mi-fondo {
      .experiencias {
          display: grid;
          grid-template-columns: 300px;
      }
  }*/
  .mi-fondo .hero-productos p {
    font-size: 25px;
    padding-bottom: 0;
  }
}
/*@media screen and (max-width: 693px) {
    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                .entrada {
                    p {
                        width: 550px;
                    }
                }
            }
        }
    }
}*/
@media screen and (max-width: 649px) {
  /*.mi-fondo {
      .video {
          p {
              padding-top: 0;
          }
      }

      .titulos-inicio {
          p {
              font-size: 20px;
          }
      }
  }*/
  /*.nosotros-historia p {*/
  /*width: 500px;*/
  /*padding-bottom: 20px;
  }*/
  .mapa {
    width: 250px;
  }
  /*.div-aceites {
      display: grid;
      grid-template-columns: 250px 250px;
  }*/
  .mi-fondo .hero-productos .div-productos {
    display: grid;
    grid-template-columns: 300px;
  }
  .mi-fondo .medios-de-pago {
    margin: 0;
  }
  .mi-fondo .formulario div {
    font-size: 25px;
  }
}
@media screen and (max-width: 638px) {
  /*.video-container video {
      width: 500px;
  }

  .div-productos {
      display: grid;
      grid-template-columns: 250px 250px;
  }*/
  /*.mi-fondo {
      .marcas {
          .marcass {
              #multiCarousel {
                  .carousel-inner {
                      .carousel-item {
                          .row {
                              .col {
                                  .w-100 {
                                      width: 50px !important;
                                      height: 50px !important;
                                  }
                              }
                          }
                      }
                  }
              }
          }
      }
  }*/
  .mi-fondo .preguntas-frecuentes {
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  /*.mi-fondo {
      .titulos-inicio {
          .tres-img-texto {
              width: 450px;
          }
      }
  }

  .mi-fondo {
      .experiencias {
          .peugeot {
              #modal {
                  inset-inline-start: 140px;

                  video {
                      height: 340px;
                      width: 300px;
                  }
              }

          }
      }
  }*/
  .mi-fondo .cotizacion h6 {
    font-size: 40px;
  }
}
@media screen and (max-width: 565px) {
  /*.mi-fondo {
      .nosotros {
          .nosotros-historia {
              .entrada {
                  p {
                      padding-left: 0;
                      width: 450px;
                  }
              }
          }
      }
  }*/
  .footer div {
    display: flex;
    justify-content: flex-start !important;
    padding: 30px;
  }
  .footer div .mapa {
    height: 100px;
    width: 200px;
  }
}
@media screen and (max-width: 558px) {
  /*.mi-fondo {
      .titulos-inicio {
          .linea-divisoria {
              display: none;
          }
      }
  }

  .mi-fondo {
      .titulos-inicio {
          .tres-img-texto {
              padding-left: 0;
          }
      }
  }*/
  .mi-fondo .medios-de-pago p {
    font-size: 25px;
    margin: 15px;
  }
  .mi-fondo .medios-de-pago .tarjetas {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 515px) {
  header nav .logo {
    width: 50px !important;
    height: 50px !important;
  }
  header nav .container-fluid a {
    font-size: 15px;
  }
  header nav .container-fluid .d-flex .btn {
    font-size: 15px;
  }
  /*.mi-fondo {
      .titulos-inicio {
          .tres-img-texto {
              width: 400px;
          }
      }
  }*/
  .footer div a {
    padding-left: 30px;
  }
}
@media screen and (max-width: 500px) {
  .mi-fondo h1 {
    font-size: 40px;
  }
  /*.mi-fondo {
      .video-container {
          h2 {
              font-size: 30px;
              width: 250px;
              margin-bottom: 0;
          }
      }
  }*/
  /*.mi-fondo {
      .nosotros {
          h2 {
              font-size: 30px;
              height: 15vh;
          }
      }
  }*/
  /* .video-container video {
      display: none;
  }

  .mi-fondo {
      .experiencias {
          .peugeot {
              #openModal {
                  width: 250px;
                  padding: 0;
              }
          }
      }
  }

  .experiencias div {
      margin-left: 0;
  }

  .experiencias div img {
      width: 250px;
      height: 250px;
  }

  .mi-fondo {
      .experiencias {
          div {
              p {
                  width: 250px;
                  margin-left: 0;
              }
          }
      }
  }

  #openModal {
      width: 250px;
      padding: 0;
  }

  .mi-fondo {
      .titulos-inicio {
          h4 {
              font-size: nth($font-size, 3);
          }

          .tres-img-texto {
              padding-left: 0;
              width: 380px;
          }
      }
  }*/
}
@media screen and (max-width: 465px) {
  /*.mi-fondo {
      .nosotros {
          .nosotros-historia {
              .entrada {
                  p {
                      width: 350px;
                  }
              }
          }
      }
  }

  .marcas {
      .marcass {
          #multiCarousel {
              .carousel-inner {
                  .carousel-item {
                      .row {
                          --bs-gutter-x: 0.5rem;
                      }
                  }
              }
          }
      }
  }*/
  .mi-fondo .formulario div {
    font-size: 20px;
  }
  .mi-fondo .formulario div .contact-form div .form-input {
    height: 20px;
    width: 100px;
  }
  .mi-fondo .formulario div .contact-form .form-button {
    font-size: 20px;
  }
  .mi-fondo .hero-productos p {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 499px) {
  /*.nosotros-centro p {
      width: 349px;
  }

  .mi-fondo {
      .nosotros {
          .nosotros-historia {

              p {
                  width: 350px;
                  text-align: center;
              }
          }
      }
  }


  .mi-fondo {
      .marcas {
          .marcass {
              img {
                  margin-left: 0;
              }
          }
      }
  }

  .marcas h3 {
      text-align: center;
  }*/
  .div-productos {
    display: grid;
    grid-template-columns: 250px;
  }
  .medios-de-pago .tarjetas img {
    padding: 5px;
  }
}
@media screen and (max-width: 451px) {
  /*.focus img {
      width: 350px;
  }*/
  .formulario h2 {
    font-size: 30px;
  }
  /*.mi-fondo {
      .video {
          video {
              display: none;
          }

          p {
              font-size: 20px !important;
          }
      }

      .titulos-inicio {
          .tres-img-texto {
              width: 340px;
          }
      }*/
  /*.experiencias {
          .peugeot {
              #modal {
                  inset-inline-start: 60px;

                  video {
                      height: 340px;
                      width: 250px;
                  }
              }
          }
      }
  }*/
  /*.mi-fondo {
      .marcas {
          h3 {
              font-size: 30px;
          }
      }
  }*/
  .mi-fondo .servicios div {
    font-size: 20px;
  }
  .mi-fondo .servicios div ul h5 {
    margin-right: 30px;
  }
  .footer div a {
    padding-left: 10px;
  }
}
@media screen and (max-width: 435px) {
  .mi-fondo .medios-de-pago p {
    padding-bottom: 0;
  }
  .mi-fondo .servicios h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 415px) {
  /*.mi-fondo {
      .titulos-inicio {
          p {
              padding: 10px;
          }

          .tres-img-texto {
              width: 300px;
          }
      }
  }*/
  /*.mi-fondo {
      .nosotros {
          .nosotros-historia {
              p {

                  width: 300px;
              }

              .mostrador {
                  img {
                      width: 300px;
                      height: 250px;
                  }
              }

              .nosotros-centro {

                  img {
                      width: 300px;
                  }
              }

              .entrada {
                  img {
                      width: 350px;
                  }
              }
          }
      }
  }*/
}
@media screen and (max-width: 399px) {
  /*.mi-fondo {
      .video-container {
          h1 {
              font-size: 30px;
          }
      }
  }*/
  .mi-fondo .hero-productos h1 {
    font-size: 30px;
  }
  .mi-fondo .hero-productos h2 {
    font-size: 20px;
  }
  .mi-fondo .hero-productos p {
    font-size: 20px;
    padding-bottom: 0;
  }
  .mi-fondo .hero-productos .div-productos {
    display: grid;
    grid-template-columns: 200px;
  }
  .mi-fondo .hero-productos .div-productos .card {
    display: grid;
    grid-template-columns: 200px;
    width: 12.8rem;
  }
  .mi-fondo .hero-productos .div-productos .card .card-body {
    padding: 10px;
  }
  .mi-fondo .hero-productos .div-productos .card .card-body h3 {
    font-size: 15px;
    width: 200px;
    padding-right: 15px;
  }
  .mi-fondo .hero-productos .div-productos .card img {
    margin-left: 20px;
    width: 150px;
    height: 150px;
  }
  .mi-fondo .hero-productos .div-productos .card a {
    font-size: 10px;
  }
  .medios-de-pago .tarjetas img {
    padding-top: 10px;
  }
  /*.mi-fondo {
      .titulos-inicio {

          p {
              font-size: 20px;
              padding-bottom: 0;
          }

          .div-aceites {
              display: grid;
              grid-template-columns: 240px;
              grid-template-rows: 300px;

              div {
                  height: 45vh;

                  h5 {
                      font-size: 20px;
                      width: 200px;
                  }

                  img {
                      width: 150px;
                      height: 150px;
                  }

                  a {
                      font-size: 20px;
                  }
              }
          }
      }
  }*/
  /*.mi-fondo {
      .video-container {
          h2 {
              font-size: 20px;
              width: 250px;
              margin-bottom: 0;
          }
      }
  }

  .mi-fondo {
      .titulos-inicio {
          h3 {
              font-size: 30px;
              margin-top: 20px;
          }
      }
  }

  .mi-fondo {
      .titulos-inicio {
          h4 {
              font-size: nth($font-size, 4);
          }

          .div-aceites {
              margin-left: 0;
          }
      }
  }*/
  /*.nosotros {
      .nosotros-historia {
          .mostrador {
              img {
                  width: 300px;
              }
          }

          .entrada {
              img {
                  width: 300px;
              }
          }
      }
  }

  .marcas {
      .marcass {
          padding: 20px;
      }
  }*/
  .mi-fondo .servicios div div ul {
    padding-left: 0;
  }
  .mi-fondo .servicios div div ul h5 {
    padding-right: 50px;
  }
  .mi-fondo .servicios div .div-limpieza p {
    text-align: start;
    margin-left: 50px;
  }
  .formulario h2 {
    font-size: 25px;
  }
  .footer div a {
    padding-left: 5px;
  }
}
@media screen and (max-width: 379px) {
  /*.mi-fondo {
      .titulos-inicio {
          .tres-img-texto {
              width: auto;
              font-size: 20px;
          }
      }
  }

  .cambio-focos img {
      width: 350px;
  }*/
  .mi-fondo .servicios div {
    display: grid;
    grid-template-columns: 300px;
    padding-bottom: 0;
  }
  /*.marcas {
      .marcass {
          #multiCarousel {
              .carousel-inner {
                  .carousel-item {
                      .row {
                          --bs-gutter-y: 0.5rem;
                      }
                  }
              }
          }
      }
  }*/
  .footer .mapa {
    width: 100px !important;
    padding-left: 0;
  }
}
/*@media screen and (max-width:365px) {
    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                .entrada {
                    img {
                        width: 300px;
                    }

                    p {
                        width: 300px;
                    }
                }
            }
        }
    }
}*/
@media screen and (max-width: 360px) {
  /*.cambio-focos p {
      width: 340px;
  }

  .mi-fondo {
      .titulos-inicio {
          p {
              font-size: 15px;
              margin: 15px;
          }
      }
  }*/
  .mi-fondo .hero-productos p {
    padding: 20px;
  }
}
@media screen and (max-width: 351px) {
  h2 {
    font-size: 20px;
  }
  /*.mi-fondo {
      .video {
          margin-bottom: 0 !important;
      }

      .titulos-inicio {
          .tres-img-texto {
              width: 250px;
              padding-top: 15px;
          }

          .div-aceites {
              div {
                  width: 250px;
              }
          }
      }
  }*/
  h1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
  h1::after {
    content: "✨";
  }
  h1::before {
    content: "✨";
  }
  .mi-fondo .hero-productos p {
    font-size: 20px;
  }
  .mi-fondo .hero-productos .div-productos {
    margin-left: 0;
  }
  .mi-fondo .hero-productos .div-productos div h3 {
    width: 250px;
  }
  header .navbar {
    position: sticky;
  }
  .header {
    position: sticky;
    top: 0;
  }
  /*.mi-fondo {
      .experiencias {
          div {
              p {
                  width: 200px;
                  font-size: 15px;
              }

              img {
                  height: 200px;
                  width: 200px;
              }
          }
      }
  }*/
  /*.mi-fondo {
      .experiencias {
          .peugeot {
              #openModal {
                  width: 200px;
                  padding: 5px;
                  font-size: 15px;
              }
          }
      }
  }

  .mi-fondo {
      .experiencias {
          .peugeot {
              #modal {
                  inset-inline-start: 25px;

                  video {
                      height: 300px;
                      width: 250px;
                  }

                  #closeModal {
                      font-size: 15px;
                      padding: 10px;
                  }
              }

          }
      }
  }*/
  /*.mi-fondo {
      .nosotros {
          h1 {
              font-size: nth($font-size, 3);
          }

          h2 {
              font-size: 20px;
              width: 250px;
              margin-left: 50px;
              height: 100px;
          }

          p {
              font-size: 15px;

          }

          .nosotros-historia {
              p {
                  margin-top: 0;
              }

              img {
                  width: 300px;
                  padding: 15px;
              }

          }
      }
  }

  .marcas {
      h3 {
          height: 20vh !important;
          font-size: 25px !important;
          margin-bottom: 0;
      }
  }*/
  .hero-productos .div-productos {
    display: grid;
    grid-template-columns: 300px;
    margin-left: 25px;
  }
  .hero-productos p {
    margin-bottom: 50px;
    padding: 5px;
  }
  .mi-fondo .servicios {
    margin-left: 0;
  }
  .mi-fondo .servicios h3 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
  }
  .mi-fondo .servicios div .div-servicios-cambio {
    padding: 0;
  }
  .mi-fondo .servicios div .div-servicios-cambio img {
    width: 200px;
    height: 200px;
  }
  .mi-fondo .servicios div .div-servicios-cambio .lista h5 {
    width: 200px;
  }
  .mi-fondo .servicios div .div-servicios-cambio .lista ul li {
    width: 200px;
    font-size: 15px;
  }
  .mi-fondo .servicios div .div-verificacion {
    padding-right: 0;
    padding-bottom: 0;
  }
  .mi-fondo .servicios div .div-verificacion img {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  .mi-fondo .servicios div .div-verificacion .lista h5 {
    width: 200px;
    margin-left: 0;
  }
  .mi-fondo .servicios div .div-verificacion .lista ul {
    margin-left: 0;
  }
  .mi-fondo .servicios div .div-verificacion .lista ul li {
    width: 200px;
    font-size: 15px;
  }
  .mi-fondo .servicios div .div-limpieza img {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  .mi-fondo .servicios div .div-limpieza p {
    margin: 0;
    width: 200px;
    font-size: 15px;
  }
  .mi-fondo .cotizacion {
    margin-top: 0;
    margin-bottom: 0;
  }
  .mi-fondo .cotizacion h6 {
    font-size: 25px;
  }
  .mi-fondo .cotizacion .row {
    height: auto;
  }
  .mi-fondo .cotizacion .row .col-md-3 .form-label {
    font-size: 15px;
  }
  .mi-fondo .medios-de-pago {
    height: auto;
    padding-top: 0;
  }
  .contacto p {
    font-size: 20px;
    padding: 15px;
    padding-top: 30px;
  }
  .contacto div div {
    font-size: 20px;
  }
  .contact-form {
    font-size: 20px;
  }
  .contact-form div input {
    width: 130px;
    height: 20px;
  }
  .form-button {
    font-size: 20px;
  }
  .contact-form div {
    padding: 3px;
  }
  footer div a {
    margin-left: 10px;
  }
}
.mi-fondo .video {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  margin-bottom: 50px;
  margin-top: 50px;
}
.mi-fondo .video p {
  color: #fdf0d5;
  font-size: 30px;
  font-weight: 600;
  width: 400px;
  font-style: italic;
  text-shadow: -15px 15px 15px rgba(0, 0, 0, 0.75);
}

.video-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titulos-inicio h3 {
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}
.titulos-inicio p {
  font-size: 30px;
  color: #000;
  border: 3px solid black;
  background-color: brown;
  text-align: center;
  margin: 45px;
  border-radius: 50px;
  font-weight: bold;
}
.titulos-inicio h4 {
  font-size: 50px;
  text-align: center;
  text-shadow: -7px -7px 2px rgba(0, 0, 0, 0.6);
  color: #fdf0d5;
  text-shadow: 0 0 5px #669bbc, 0 0 10px #669bbc, 0 0 15px #669bbc, 0 0 20px #669bbc, 0 0 25px #669bbc, 0 0 30px #669bbc;
  padding-top: 50px;
}
.titulos-inicio .div-aceites {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  /*ancho de cada div*/
  grid-template-rows: 400px;
  /*define mi estructura interna del "alto". Puedo definir al lado de px otro valor exterior abajo. una capacidad más.*/
  justify-content: center;
  gap: 30px;
  padding-bottom: 30px;
  /*para q los aceites no estén pegados a la siguiente seccion*/
  margin-bottom: 50px;
  /*distancia entre la siguiente section*/
}
.titulos-inicio .div-aceites div {
  border: 2px solid black;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: width 5s ease, background-color 1s ease;
}
.titulos-inicio .div-aceites div:hover {
  background-color: #669bbc;
}
.titulos-inicio h5 {
  color: #fdf0d5;
  font-size: 25px;
  text-align: center;
  width: 200px;
}
.titulos-inicio img {
  height: 250px;
  width: 250px;
}
.titulos-inicio a:hover {
  background-color: rgba(6, 225, 6, 0.766);
}

.tres-img-texto {
  color: #fdf0d5;
  text-align: center;
  font-style: italic;
  margin: 50px;
  font-size: 25px;
}

.linea-divisoria {
  display: flex;
  justify-content: center;
}
.linea-divisoria div {
  width: 500px;
  border-top: 3px solid white;
  margin-bottom: 50px;
}

.experiencias {
  display: grid;
  grid-template-columns: 470px 470px 470px;
  gap: 20px;
  padding-bottom: 50px;
  justify-items: center;
  font-size: 20px;
}
.experiencias img {
  box-shadow: -15px 15px 23px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -15px 15px 23px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -15px 15px 23px -3px rgba(0, 0, 0, 0.75);
}
.experiencias p {
  padding-top: 15px;
}
.experiencias .cambio-focos p,
.experiencias .golcito p,
.experiencias .focus p {
  width: 300px;
}
.experiencias .peugeot {
  display: flex;
  flex-direction: column;
}
.experiencias .peugeot #openModal {
  width: 300px;
  backdrop-filter: blur(5px);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: brown;
  color: #fdf0d5;
  cursor: pointer;
}
.experiencias .peugeot #modal {
  background-color: rgba(0, 0, 0, 0.2431372549);
  inset-inline-start: 500px;
  margin-top: 50px;
  backdrop-filter: blur(5px);
  /* Efecto de desenfoque */
}
.experiencias .peugeot #modal #closeModal {
  display: flex;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: brown;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 1381px) {
  .mi-fondo .experiencias {
    gap: 0;
  }
}
@media screen and (max-width: 1365px) {
  .mi-fondo .experiencias {
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    /*para que mis img estén bien en el centro*/
    padding-top: 30px;
  }
  .mi-fondo .experiencias div {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 1348px) {
  .mi-fondo .titulos-inicio .div-aceites {
    display: grid;
    grid-template-columns: 300px 300px 300px;
  }
}
@media screen and (max-width: 1200px) {
  .titulos-inicio .div-aceites div h5 {
    width: 200px;
  }
}
@media screen and (max-width: 1121px) {
  .mi-fondo .experiencias .peugeot #modal {
    inset-inline-start: 300px;
  }
  .mi-fondo .experiencias .peugeot #modal video {
    height: 400px;
    width: 450px;
  }
}
@media screen and (max-width: 1101px) {
  .video video {
    width: 400px;
  }
}
@media screen and (max-width: 1000px) {
  .mi-fondo .experiencias {
    display: grid;
    grid-template-columns: 470px 470px;
  }
}
@media screen and (max-width: 975px) {
  .mi-fondo .titulos-inicio .div-aceites {
    display: grid;
    grid-template-columns: 300px 300px;
  }
}
@media screen and (max-width: 841px) {
  .mi-fondo .titulos-inicio .div-aceites {
    display: grid;
    grid-template-columns: 300px;
  }
}
@media screen and (max-width: 835px) {
  .mi-fondo .experiencias {
    gap: 0;
  }
  .mi-fondo .servicios div {
    padding-left: 0;
  }
}
@media screen and (max-width: 827px) {
  .mi-fondo .video {
    display: flex;
    flex-direction: column-reverse !important;
    /*important para anular row-reverse*/
    align-items: center;
  }
  .mi-fondo .video video {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .mi-fondo .video p {
    text-align: center;
    width: auto !important;
    padding: 50px;
  }
  .mi-fondo .titulos-inicio h3 {
    padding-top: 0;
  }
  .mi-fondo .experiencias {
    display: grid;
    grid-template-columns: 350px 350px;
  }
}
@media screen and (max-width: 803px) {
  .experiencias p {
    padding-bottom: 30px;
  }
  .peugeot {
    display: flex;
    flex-direction: column;
  }
  #modal {
    inset-inline-start: 230px;
  }
  #modal video {
    width: 350px;
    height: 450px;
  }
}
@media screen and (max-width: 754px) {
  .mi-fondo .experiencias .peugeot #modal {
    inset-inline-start: 200px;
  }
  .mi-fondo .experiencias .peugeot #modal video {
    height: 340px;
    width: 350px;
  }
}
@media screen and (max-width: 714px) {
  .mi-fondo .titulos-inicio h4 {
    font-size: 40px;
  }
  .mi-fondo h1 {
    font-size: 50px;
    padding-top: 30px;
  }
}
@media screen and (max-width: 700px) {
  .mi-fondo .div-aceites {
    margin: 0;
  }
  .mi-fondo .titulos-inicio .tres-img-texto {
    width: 500px;
  }
  .mi-fondo .experiencias {
    display: grid;
    grid-template-columns: 300px;
  }
}
@media screen and (max-width: 649px) {
  .mi-fondo .video p {
    padding-top: 0;
  }
  .mi-fondo .titulos-inicio p {
    font-size: 20px;
  }
  .div-aceites {
    display: grid;
    grid-template-columns: 250px 250px;
  }
}
@media screen and (max-width: 638px) {
  .video-container video {
    width: 500px;
  }
  .div-productos {
    display: grid;
    grid-template-columns: 250px 250px;
  }
}
@media screen and (max-width: 600px) {
  .mi-fondo .titulos-inicio .tres-img-texto {
    width: 450px;
  }
  .mi-fondo .experiencias .peugeot #modal {
    inset-inline-start: 140px;
  }
  .mi-fondo .experiencias .peugeot #modal video {
    height: 340px;
    width: 300px;
  }
}
@media screen and (max-width: 558px) {
  .mi-fondo .titulos-inicio .linea-divisoria {
    display: none;
  }
  .mi-fondo .titulos-inicio .tres-img-texto {
    padding-left: 0;
  }
}
@media screen and (max-width: 515px) {
  .mi-fondo .titulos-inicio .tres-img-texto {
    width: 400px;
  }
}
@media screen and (max-width: 500px) {
  .mi-fondo .video-container h2 {
    font-size: 30px;
    width: 250px;
    margin-bottom: 0;
  }
  .mi-fondo .experiencias .peugeot #openModal {
    width: 250px;
    padding: 0;
  }
  .experiencias div {
    margin-left: 0;
  }
  .experiencias div img {
    width: 250px;
    height: 250px;
  }
  .mi-fondo .experiencias div p {
    width: 250px;
    margin-left: 0;
  }
  #openModal {
    width: 250px;
    padding: 0;
  }
  .mi-fondo .titulos-inicio h4 {
    font-size: 30px;
  }
  .mi-fondo .titulos-inicio .tres-img-texto {
    padding-left: 0;
    width: 380px;
  }
}
@media screen and (max-width: 451px) {
  .mi-fondo .video video {
    display: none;
  }
  .mi-fondo .video p {
    font-size: 20px !important;
  }
  .mi-fondo .titulos-inicio .tres-img-texto {
    width: 340px;
  }
  .mi-fondo .focus img {
    width: 350px;
  }
  .mi-fondo .experiencias .peugeot #modal {
    inset-inline-start: 60px;
  }
  .mi-fondo .experiencias .peugeot #modal video {
    height: 340px;
    width: 250px;
  }
}
@media screen and (max-width: 415px) {
  .mi-fondo .titulos-inicio p {
    padding: 10px;
  }
  .mi-fondo .titulos-inicio .tres-img-texto {
    width: 300px;
  }
}
@media screen and (max-width: 399px) {
  .mi-fondo .video-container h1 {
    font-size: 30px;
  }
  .mi-fondo .titulos-inicio p {
    font-size: 20px;
    padding-bottom: 0;
  }
  .mi-fondo .titulos-inicio .div-aceites {
    display: grid;
    grid-template-columns: 240px;
    grid-template-rows: 300px;
  }
  .mi-fondo .titulos-inicio .div-aceites div {
    height: 45vh;
  }
  .mi-fondo .titulos-inicio .div-aceites div h5 {
    font-size: 20px;
    width: 200px;
  }
  .mi-fondo .titulos-inicio .div-aceites div img {
    width: 150px;
    height: 150px;
  }
  .mi-fondo .titulos-inicio .div-aceites div a {
    font-size: 20px;
  }
  .mi-fondo .video-container h2 {
    font-size: 20px;
    width: 250px;
    margin-bottom: 0;
  }
  .mi-fondo .titulos-inicio h3 {
    font-size: 30px;
    margin-top: 20px;
  }
  .mi-fondo .titulos-inicio h4 {
    font-size: 20px;
  }
  .mi-fondo .titulos-inicio .div-aceites {
    margin-left: 0;
  }
}
@media screen and (max-width: 379px) {
  .mi-fondo .titulos-inicio .tres-img-texto {
    width: auto;
    font-size: 20px;
  }
  .cambio-focos img {
    width: 350px;
  }
}
@media screen and (max-width: 360px) {
  .cambio-focos p {
    width: 340px;
  }
  .mi-fondo .titulos-inicio p {
    font-size: 15px;
    margin: 15px;
  }
}
@media screen and (max-width: 351px) {
  .mi-fondo .video {
    margin-bottom: 0 !important;
  }
  .mi-fondo .titulos-inicio .tres-img-texto {
    width: 250px;
    padding-top: 15px;
  }
  .mi-fondo .titulos-inicio .div-aceites div {
    width: 250px;
  }
  .mi-fondo .experiencias div p {
    width: 200px;
    font-size: 15px;
  }
  .mi-fondo .experiencias div img {
    height: 200px;
    width: 200px;
  }
  .mi-fondo .experiencias .peugeot #openModal {
    width: 200px;
    padding: 5px;
    font-size: 15px;
  }
  .mi-fondo .experiencias .peugeot #modal {
    inset-inline-start: 25px;
  }
  .mi-fondo .experiencias .peugeot #modal video {
    height: 300px;
    width: 250px;
  }
  .mi-fondo .experiencias .peugeot #modal #closeModal {
    font-size: 15px;
    padding: 10px;
  }
}

/*# sourceMappingURL=estilos.css.map */
