* {
    margin: 0;
    padding: 0;
    /*usé estas 2 prop para eliminar los bordes*/
    color: black;
    box-sizing: border-box;
    font-family: "Comic Relief", system-ui;
}

/*el asterisco aplica una propiedad a todas las etiquetas*/
.mi-fondo {
    background-color: #003049;
}

.logo {
    width: 100px;
    height: 100px;
}

/*?-----HEADER------*/

header {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
    /*para q mi grilla no pase x arriba*/
    font-size: 20px;
}

.container-fluid a {
    color: brown;
}

.container-fluid a:hover {
    color: rgba(6, 225, 6, 0.766);
}

.d-flex button {
    background-color: brown;
    color: #fdf0d5;
    border: 3px solid brown;
}

.form-control {
    background-color: #000;
}

.btn-outline-success:hover {
    background-color: rgba(6, 225, 6, 0.766);
    border: rgba(6, 225, 6, 0.766);
}

/*!----- main de index-------*/

.video-container {
    display: flex;
    /*para que el video esté en el centro*/
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #c1121f;
    padding-top: 50px;
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    /*letra gorda*/
    text-shadow:
        2px 2px 0 black,
        -2px 2px 0 black,
        2px -2px 0 black,
        -2px -2px 0 black;

}

h2 {
    color: #c1121f;
    text-align: center;
    font-size: 50px;
    text-shadow:
        2px 2px 0 black,
        -2px 2px 0 black,
        2px -2px 0 black,
        -2px -2px 0 black;
    margin-bottom: 50px;
}

.titulos-inicio h3 {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    margin-top: 50px;
}

.titulos-inicio p {
    font-size: 30px;
    color: #000;
    border: 3px solid brown;
    background-color: brown;
    text-align: center;
    margin: 45px;
    border-radius: 50px;
    font-weight: bold;
}

.div-aceites {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    /*ancho de cada div*/
    grid-template-rows: 400px;
    /*define mi estructura interna del "alto". Puedo definir al lado de px otro valor exterior abajo. una capacidad más.*/
    gap: 50px;
    margin-bottom: 50px;
    /*distancia entre la siguiente section*/
    margin-left: 50px;
}

.div-aceites div {
    border: 2px solid black;
    padding: 5px;
    display: flex;
    /*para que mi contenido esté alineado*/
    flex-direction: column;
    align-items: center;
    /*para que el aceite esté en el centro*/
}

.div-aceites h4 {
    font-size: 25px;
    text-align: center;
    width: 40vh;
    /*width con este vh para que el titulo quede en ese porcentaje respecto al ancho*/
    ;
}

.div-aceites div img {
    height: 250px;
    width: 250px;
}

.div-aceites a {
    font-size: 30px;
    background-color: brown;
    color: black;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    /*para que mi botón esté bien en el centro*/
    text-decoration: none;
}

.div-aceites a:hover {
    background-color: rgba(6, 225, 6, 0.766);
}

.tres-img-texto {
    color: #fdf0d5;
    text-align: center;
    font-style: italic;
    display: grid;
    grid-column: span 3;
    margin: 50px;
}

/*!--------------LINEA DIVISORIA--------------------*/

.linea-divisoria {
    width: 100%;
    display: flex;
    justify-content: center;
    grid-column: span 3;
}

.linea-divisoria div {
    width: 500px;
    border-top: 3px solid white;
    margin-bottom: 50px;
}

/*!------------EXPERIENCIAS---------------*/
.experiencias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 50px;
}

.experiencias p {
    font-size: 25px;
    color: #fdf0d5;
}

.experiencias img {
    width: 300px;
    height: 300px;
}

.cambio-focos p {
    width: 300px;
    text-align: center;
}

.golcito p {
    width: 300px;
    text-align: center;
}

.focus p {
    width: 300px;
    text-align: center;
}

.experiencias div {
    justify-items: center;
}

.peugeot {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#modal {
    background-color: #0000003e;
    inset-inline-start: 500px;
    /*no pude distribuirlo ni con grid ni con flexbox xq sino el video aparecía antes de apretar video*/
    margin-top: 50px;
    backdrop-filter: blur(5px);
    /* Efecto de desenfoque */
}

#openModal:hover {
    background-color: rgba(6, 225, 6, 0.766);
}

#closeModal {
    display: flex;
}

#openModal {
    width: 300px;
    backdrop-filter: blur(5px);
}

#openModal,
#closeModal {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: brown;
    color: white;
    cursor: pointer;
}

#closeModal:hover {
    background-color: rgba(6, 225, 6, 0.766);
}

/*?------conocé más sobre nosotros------!*/


.nosotros-historia {
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.mostrador {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.nosotros-historia p {
    color: #fdf0d5;
}

.mostrador img {
    width: 600px;
    height: 400px;
}

.mostrador p {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.nosotros-centro {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.nosotros-centro img {
    grid-column: 2;
    /*se pasa a la segunda columna la img*/
}

.nosotros-centro p {
    grid-row: 1;
    /*el texto está en primer fila y no abajo*/
    display: flex;
    align-items: center;
    /*centro texto en mi img*/
}

.entrada {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.entrada p {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.marcas h3 {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.marcass {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.marcass img {
    margin-left: 15px;
    height: 150px;
    width: 150px;
}

/*!----pagina contacto------*/
.contacto div {
    font-size: 30px;
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
}

.contacto p {
    color: #fdf0d5;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}

/*!---formulario---!*/

.contact-form {
    font-size: 30px;
}

.form-button {
    font-size: 25px;
    background: rgba(128, 128, 128, 0.545);
    border-radius: 10px;
    color: #fdf0d5;
    padding: 5px;
}

.form-button:hover {
    background-color: rgba(6, 225, 6, 0.766);
}

.form-input {
    width: 200px;
    height: 30px;
    background: rgba(128, 128, 128, 0.545);
}

.formulario div {
    padding: 5px;
}

/*!-----Productos-------*/

.hero-productos p {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #669bbc;

}

.div-productos {
    display: flex;
    /*distribuyo de manera horizontal*/
    justify-content: space-evenly;
    /*separo mis combos*/
}

.div-productos h3 {
    font-size: 25px;
    text-align: center;
    width: 40vh;
    /*width con este vh para que el titulo quede en ese porcentaje respecto al hancho*/
    ;
}

.div-productos img {
    width: 250px;
    height: 250px;
}

.div-productos a {
    background-color: brown;
    color: #fdf0d5;
    margin: 15px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    /*para que mi botón esté bien en el centro*/
    font-size: 30px;
    text-decoration: none;
}

.div-productos a:hover {
    background-color: rgba(6, 225, 6, 0.766);
}

.div-productos div {
    border: 2px solid black;
    padding: 5px;
    display: flex;
    /*para que mi contenido esté alineado*/
    flex-direction: column;
    /*para que mi contenido esté alineado*/
    align-items: center;
    /*para que mi botón esté bien en el centro*/
    margin-bottom: 30px;
}

/*!-----Servicios------*/
.servicios h3 {
    text-align: center;
    font-size: 30px;
    border-style: solid;
    color: #000;
    background-color: brown;
    font-weight: bold;
    /*letra gorda*/
    text-shadow:
        2px 2px 0 white,
        -2px 2px 0 white,
        2px -2px 0 white,
        -2px -2px 0 white;
    margin-bottom: 50px;
}

.servicios div div img {
    width: 250px;
    height: 250px;
}

.servicios div div {
    display: flex;
    font-size: 20px;
}

.servicios div {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.servicios div p {
    margin-left: 3px;
    color: #fdf0d5;
}

/*!-----footer------*/
.footer {
    display: block;
    background-image: url(../img/posible\ footer.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/*!----------MEDIA QUERY----------------*/

@media screen and (max-width: 1500px) {
    .mostrador p {
        margin-left: 0;
    }

    .entrada {
        display: flex;
    }

    .entrada img {
        width: 800px;
    }

    .entrada p {
        width: 800px;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-left: 0;
    }

    .marcass {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 10px;
    }
}

@media screen and (max-width:1497px) {
    .experiencias {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1450px) {
    .nosotros-centro img {
        width: 500px;
    }

    .entrada img {
        width: 600px;
        height: 300px;
    }

}

@media screen and (max-width: 1354px) {
    .div-aceites {
        display: grid;
        grid-template-columns: 350px 350px 350px;
    }
}

@media screen and (max-width: 1348px) {
    .nosotros-centro img {
        width: 450px;
    }
}

@media screen and (max-width: 1300px) {
    .nosotros-centro {
        display: grid;
        grid-template-columns: 700px 500px;
    }
}

@media screen and (max-width:1251px) {
    .entrada img {
        width: 400px;
    }

    .servicios div div {
        flex-wrap: wrap;
    }

    .contacto div {
        font-size: 25px;
    }

    .contacto div div {
        flex-direction: column;
        align-items: center;
    }

    .contacto div div img {
        width: 40px;
    }
}

@media screen and (max-width: 1200px) {
    .div-aceites {
        display: grid;
        grid-template-columns: 300px 300px 300px;
    }

    .div-aceites h4 {
        width: 200px;
    }

    .mostrador img {
        width: 500px;
    }

    .nosotros-centro {
        display: grid;
        grid-template-columns: 600px 500px;
    }

    .titulos-inicio .div-aceites {
        display: grid;
        grid-template-columns: 250px 250px;
    }
}

@media screen and (max-width:1190px) {
    .contacto div {
        flex-direction: column;
        margin: 20px;
    }
}

@media screen and (max-width:1121px) {
    .entrada p {
        padding-left: 5px;
    }

    .mostrador p {
        padding-left: 5px;
    }

    .nosotros-centro img {
        width: 400px;
    }

    .contacto p {
        padding-left: 50px;
        padding-right: 50px;
    }

    .hero-productos .div-productos {
        display: grid;
        grid-template-columns: 300px 300px;
    }

    .div-productos div h3 {
        width: 200px;
    }
}

@media screen and (max-width: 1051px) {
    /*.div-aceites {
        display: grid;
        grid-template-columns: 270px 270px 270px;
    }*/

    .nosotros-historia p {
        font-size: 20px;
    }

    .mostrador img {
        width: 400px;
        height: 300px;
    }

    .nosotros-centro {
        display: grid;
        grid-template-columns: 500px 500px;
    }
}

@media screen and (max-width:1000px) {
    .nosotros-centro img {
        width: 300px;
    }

    .entrada img {
        height: 200px;
    }
}

@media screen and (max-width:992px) {

    .navbar {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 960px) {
    .div-aceites {
        margin: 50px;
        display: grid;
        grid-template-columns: 270px 270px 270px;
        gap: 15px;
    }
}

@media screen and (max-width: 900px) {
    .nosotros-historia div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nosotros-historia p {
        width: 600px;
        margin-bottom: 30px;
    }

    .marcass {
        display: grid;
        grid-template-columns: 150px 150px 150px 150px 150px;
    }
}

@media screen and (max-width:851px) {
    .contacto p {
        font-size: 20px;
    }
}

@media screen and (max-width: 841px) {
    .servicios div {
        display: grid;
        grid-template-columns: 350px 350px;
    }

    .div-aceites {
        display: grid;
        grid-template-columns: 300px 300px;
        gap: 50px;
        margin-left: 50px;
    }
}

@media screen and (max-width:827px) {
    h2 {
        font-size: 40px;
    }

    .hero-productos p {
        padding-bottom: 30px;
    }

    .marcass img {
        margin-left: 0;
    }
}

@media screen and (max-width: 803px) {


    .experiencias {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .experiencias p {
        padding-bottom: 30px;
    }

    .peugeot {
        display: flex;
        flex-direction: column;
    }

    #modal {
        inset-inline-start: 230px;
    }

    #modal video {
        width: 350px;
        height: 450px;
    }

    .mapa {
        width: 300px;
    }

    .footer div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 714px) {
    .div-aceites {
        display: grid;
        grid-template-columns: 270px 270px;
    }

    .nosotros-historia div {
        display: flex;
        align-items: center;
    }

    .nosotros-historia p {
        font-size: 20px;
        padding-bottom: 30px;
    }

    .entrada img {
        width: 499px;
    }

    .entrada p {
        width: 499px;
    }

    .servicios div {
        grid-template-columns: 300px 300px;
    }
    .hero-productos .div-productos {
    display: grid;
    grid-template-columns: 300px;
    margin-left: 0;
    }
}

@media screen and (max-width: 754px) {

    .marcass {
        display: grid;
        grid-template-columns: 30% 30% 30%;
    }
}

@media screen and (max-width: 649px) {
    .titulos-inicio p {
        font-size: 20px;
    }

    .nosotros h1,
    h2 {
        font-size: 50px;
    }

    .nosotros-historia p {
        width: 500px;
        padding-bottom: 20px;
    }

    .entrada img {
        width: 350px;
    }

    .marcas h3 {
        width: 399px;
    }

    .mapa {
        width: 250px;
    }

    .div-aceites {
        display: grid;
        grid-template-columns: 250px 250px;
    }
}

@media screen and (max-width:638px) {
    .video-container video {
        width: 500px;
    }

    .div-productos {
        display: grid;
        grid-template-columns: 250px 250px;
    }

    .servicios div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .servicios p {
        text-align: center;
    }

    .linea-divisoria {
        display: none
    }
}

@media screen and (max-width:600px) {
    .div-aceites {
        gap: 10px;
        display: grid;
        grid-template-columns: 270px;
    }
}

@media screen and (max-width:500px) {
    .video-container video {
        display: none;
    }

    .experiencias div {
        margin-left: 0;
    }

    .experiencias div img {
        width: 250px;
        height: 300px;
    }

    .experiencias div p {
        width: 250px;
        margin-left: 0;
    }

    #openModal {
        width: 250px;
        padding: 0;
    }
}

@media screen and (max-width: 499px) {
    .titulos-inicio h3 {
        margin-top: 0;
    }

    .mostrador img {
        width: 350px;
    }

    .mostrador p {
        width: 350px;
    }

    .nosotros-centro img {
        width: 350px;
    }

    .nosotros-centro p {
        width: 349px;
        display: grid;
        display: flex;
        /*alineo texto*/
        justify-content: flex-start;
    }

    .entrada img {
        width: 350px;
    }

    .entrada p {
        width: 350px;
    }

    .marcass {
        display: grid;
        grid-template-columns: 150px 150px;
        gap: 10px;
        padding-bottom: 10px;
    }

    .marcas h3 {
        width: 300px;
    }

    .mapa {
        width: 200px;
        height: 200px;
    }

    .div-productos {
        display: grid;
        grid-template-columns: 250px;
    }
}

@media screen and (max-width:451px) {
    .focus img {
        width: 350px;
    }

    .formulario h2 {
        font-size: 30px;
    }
}

@media screen and (max-width:399px) {
    .nosotros-historia {
        margin-left: 0;
        margin-right: 0;
    }

    .golcito img {
        width: 350px;
    }

    .fitito img {
        width: 350px;
    }
}

@media screen and (max-width:379px) {
    .cambio-focos img {
        width: 350px;
    }
}

@media screen and (max-width:360px) {
    .cambio-focos p {
        width: 340px;
    }
}

/*!--- MEDIA QUARY 350 PARA ABAJO-------*/
@media screen and (max-width:351px) {

    .video-container h1 {
        font-size: 20px;
        display: flex;
        justify-content: center;
    }
h1 {
            font-size: 30px;
        }

    h1::after {
        content: "✨"
    }

    h1::before {
        content: "✨";
    }
.hero-productos p {
    font-size: 20px;
}
    .navbar {
        position: sticky;
    }

    .header {
        position: sticky;
        top: 0;
    }

    h2 {
        font-size: 30px;
    }

    .video-container video {
        display: none;
    }

    .div-aceites {
        flex-direction: column;
        gap: 15px;
    }

    .div-aceites div {
        width: 250px;
    }

    .tres-img-texto {
        padding-top: 15px;
    }

    .experiencias {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .experiencias div img {
        height: 200px;
        width: 200px;
    }

    .experiencias div p {
        font-size: 15px;
        width: 200px;
    }

    #openModal {
        text-align: center;
        margin-bottom: 15px;
        width: 200px;
        padding: 0;
    }

    #modal video {
        height: 340px;
        width: 300px;
    }

    #modal {
        inset-inline-start: 30px;
        /*direccionalidad*/
    }

    .nosotros p {
        font-size: 20px;
        padding: 15px;
    }

    .nosotros img {
        width: 340px;
    }

    .mostrador {
        display: grid;
        grid-template-columns: 300px;
    }

    .marcass {
        display: grid;
        grid-template-columns: 100px 100px 100px;
        gap: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
    }

    .marcass img {
        width: 70px;
        height: 70px;
    }

    .marcas h3 {
        margin-left: 25px;
        margin-top: 30px;
    }
.hero-productos .div-productos {
    display: grid;
    grid-template-rows: 420px;
}

.hero-productos h3 {
     font-size: 20px;
}
    .hero-productos p {
        margin-bottom: 50px;
    }

    .div-servicios-cambio img {
        width: 300px;
        margin-left: 30px;
    }

    .div-servicios-cambio img {
        margin-left: 0;
    }

    .div-verificacion img {
        width: 160px;
    }

    .div-limpieza img {
        width: 200px;
    }

    .div-limpieza {
        flex-wrap: wrap;
    }

    .contacto p {
        font-size: 20px;
    }

    .contact-form {
        font-size: 20px;
    }

    .contact-form div input {
        width: 130px;
        height: 20px;
    }

    .form-button {
        font-size: 20px;
    }

    .contact-form div {
        padding: 3px;
    }

    .footer {
        padding: 5px;
    }

    .mapa {
        width: 180px;
    }
}