@import "./base/funcionalidades";
@import "./base/generales";
@import "./components/contacto";
@import "./components/nosotros";
@import "./components/productos";
@import "./components/servicios";
@import "./base/querys";

.video-container {
    @include flex (flex, center);
    flex-direction: column;


}

.titulos-inicio {
    h3 {
        margin-top: 50px;
        text-align: center;
        font-size: nth($font-size, 5);
        text-decoration: underline;
        margin-top: 50px;
        text-align: center;
        font-size: 40px;
        text-decoration: underline;
    }

    p {
        font-size: nth($font-size, 3);
        color: #000;
        border: 3px solid black;
        background-color: nth($background-color, 2);
        text-align: center;
        margin: 45px;
        border-radius: 50px;
        font-weight: bold;
    }
    h4 {color: #669bbc;
        font-size: 50px;
        text-align: center;
       text-shadow: -7px -7px 2px rgba(0,0,0,0.6);
         color: #fdf0d5;
  text-shadow: 0 0 5px #669bbc, 0 0 10px #669bbc,
               0 0 15px #669bbc, 0 0 20px #669bbc,
               0 0 25px #669bbc, 0 0 30px #669bbc;
               padding-top: 50px;
    }


    .div-aceites {
        padding-top: 50px;
        display: grid;
        grid-template-columns: 350px 350px 350px;
        /*ancho de cada div*/
        grid-template-rows: 400px;
        /*define mi estructura interna del "alto". Puedo definir al lado de px otro valor exterior abajo. una capacidad más.*/
        justify-content: center;
        gap: 30px;
        padding-bottom: 30px;
        /*para q los aceites no estén pegados a la siguiente seccion*/
        margin-bottom: 50px;
        /*distancia entre la siguiente section*/
        ;


        div {
            border: 2px solid black;
            padding: 5px;
            @include flex (flex, center);
            flex-direction: column;
            transition: width 5s ease, background-color 1s ease;
            

            &:hover {
                background-color: #669bbc;
            }
        }

    }

    h5 {
        color: $color-principal;
        font-size: 25px;
        text-align: center;
        width: 200px;
    }

    img {
        height: 250px;
        width: 250px;
    }

    a {
        @extend %boton;

        &:hover {
            background-color: rgba(6, 225, 6, 0.766);
        }
    }
}


.tres-img-texto {
    color: $color-principal;
    text-align: center;
    font-style: italic;
    margin: 50px;
    font-size: 25px;
}

.linea-divisoria {
    @include flex-justify (flex, center);

    div {
        width: 500px;
        border-top: 3px solid white;
        margin-bottom: 50px;
    }
}


.experiencias {
    display: grid;
    grid-template-columns: 470px 470px 470px;
    gap: 20px;
    padding-bottom: 50px;
    justify-items: center;
    font-size: nth($font-size, 4);
img {
    box-shadow: -15px 15px 23px -3px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -15px 15px 23px -3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -15px 15px 23px -3px rgba(0, 0, 0, 0.75);
}
    .cambio-focos,
    .golcito,
    .focus {
        p {
            width: 300px;
        }
    }

    .peugeot {
        display: flex;
        flex-direction: column;

        #openModal {
            width: 300px;
            backdrop-filter: blur(5px);
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: $color-secundario;
            color: $color-principal;
            cursor: pointer;

            &:hover {
                @extend %boton-secundario;
            }

        }

        #modal {
            background-color: #0000003e;
            inset-inline-start: 500px;
            /*no pude distribuirlo ni con grid ni con flexbox xq sino el video aparecía antes de apretar video*/
            margin-top: 50px;
            backdrop-filter: blur(5px);

            /* Efecto de desenfoque */
            #closeModal {
                display: flex;
                padding: 15px;
                border: none;
                border-radius: 5px;
                background-color: $color-secundario;
                color: white;
                cursor: pointer;

                &:hover {
                    @extend %boton-secundario;
                }
            }
        }
    }
}