

.mi-fondo h1 {
  color: #c1121f;
}
.mi-fondo h2 {
  color: #c1121f;
  padding-bottom: 50px;
}

.carrito-combos {
  display: flex;
  gap: 30px;
  padding: 50px;
}
.productos-carrito {
  display: flex;
  align-items: center;
}
