

.mi-fondo h1 {
  color: #c1121f;
}
.mi-fondo h2 {
  color: #c1121f;
  padding-bottom: 50px;
}

.carrito-combos {
  display: flex;
  gap: 30px;
  padding: 50px;
}
.productos-carrito {
  display: grid; 
  grid-template-columns: 250px 250px 250px 250px;
  gap: 30px;
 justify-content: center;
 div {
  border: 3px solid black;
  border-radius: 15px;
  .card-body {
    height: 100px;
  }
 }
}

.card-img-top { /*para q todas las tarjetitas del carrito esten iguales*/
  width: 280px;
  height: 280px;
}

.sin-sombra {
  text-shadow: none !important;  /* quita el borde negro */
}