.contacto {
    p {
        color: $color-principal;
        font-size: 30px;
        text-align: center;
        padding: 50px;
    }

    div {
        color: $color-principal;
        font-size: 25px;
        margin: 50px;
        display: flex;
        justify-content: space-evenly;
    }
}

.formulario {
    div {
        .contact-form {padding: 50px;
            display: grid;
            grid-template-columns: 450px 450px 450px;
            grid-template-rows: 70px;
            font-size: 30px;
        }
    }
}

.form-button {width: 70px !important;
    font-size: 25px;
    background: rgba(128, 128, 128, 0.545);
    border-radius: 10px;


    &:hover {
        @extend %boton-secundario;
    }
}

.form-input {
    width: 200px;
    height: 30px;
    background: rgba(128, 128, 128, 0.545);
}

.preguntas-frecuentes {
    padding: 50px;
    h3 {
        text-align: center;
        color: $color-principal;
        font-size: 30px;
    }

    .accordion-flush {
        padding: 50px;
        border-right: 15px;
        border-left: 15px;
        border-radius: 15px;

        .accordion-item {
            border-right: 15px;
            border-left: 15px;
            border-radius: 15px;
            background-color: #669bbc;

            .accordion-header {
                background-color: #669bbc;
                border-right: 15px;
                border-left: 15px;
                border-radius: 15px;

                .accordion-button {
                    border-right: 15px;
                    border-left: 15px;
                    border-radius: 15px;
                    color: $color-secundario;
                    font-weight: 500;
                }
            }
        }

    }
}