.contacto {
    p {
        color: $color-principal;
        font-size: 30px;
        text-align: center;
        padding: 50px;
    }

    div {
        color: $color-principal;
        font-size: 25px;
        margin: 50px;
        display: flex;
        justify-content: space-evenly;
    }
}

.formulario {
    h2 {
    background: linear-gradient(90deg, #669bbc, #003049);
    background-size: 200% 200%;
    animation: gradientAnimation 2s infinite alternate;
    
    }
    div {
        .contact-form {
            padding: 50px;
            font-size: 30px;
        }
    }
}

.form-button {
    width: 70px !important;
    font-size: 25px;
    background: rgba(128, 128, 128, 0.545);
    border-radius: 10px;
    margin-top: 10px;

    &:hover {
        @extend %boton-secundario;
    }
}

.form-input {
    width: 200px;
    height: 30px;
    background: rgba(128, 128, 128, 0.545);
    border-radius: 10px;
}

.preguntas-frecuentes {
    padding: 50px;

    h3 {
        text-align: center;
        color: $color-principal;
        font-size: 30px;
    }

    .accordion-flush {
        padding: 50px;
        border-right: 15px;
        border-left: 15px;
        border-radius: 15px;

        .accordion-item {
            border-right: 15px;
            border-left: 15px;
            border-radius: 15px;
            background-color: #669bbc;

            .accordion-header {
                background-color: #669bbc;
                border-right: 15px;
                border-left: 15px;
                border-radius: 15px;

                .accordion-button {
                    border-right: 15px;
                    border-left: 15px;
                    border-radius: 15px;
                    color: $color-secundario;
                    font-weight: 500;
                }
            }
        }

    }
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@media screen and (max-width:1251px) {
    .contacto {
        div {
            font-size: 25px;
        }
    }

    .contacto {
        div {
            div {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .contacto {
        div {
            div {
                img {
                    width: 40px;
                }
            }
        }
    }
}

@media screen and (max-width:1190px) {
    .contacto div {
        flex-direction: column;
        margin: 20px;
    }
}

@media screen and (max-width:1121px) {
    .contacto p {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width:851px) {
    .contacto p {
        font-size: 20px;
    }
}

@media screen and (max-width: 649px) {
    .mi-fondo {
        .formulario {
            div {
                font-size: 25px;
            }
        }
    }
}

@media screen and (max-width:638px) {
    .mi-fondo {
        .preguntas-frecuentes {
            padding: 0;
        }
    }
}

@media screen and (max-width:465px) {
    .mi-fondo {
        .formulario {
            div {
                font-size: 20px;

                .contact-form {
                    div {
                        .form-input {
                            height: 20px;
                            width: 100px;
                        }
                    }

                    .form-button {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:451px) {
    .formulario h2 {
        font-size: 30px;
    }
}

@media screen and (max-width:399px){
.formulario {
        h2 {
            font-size: 25px;
        }
    }
}

@media screen and (max-width:351px) {
    .contacto p {
        font-size: 20px;
        padding: 15px;
        padding-top: 30px;
    }

    .contacto div div {
        font-size: 20px;
    }

    .contact-form {
        font-size: 20px;
    }

    .contact-form div input {
        width: 130px;
        height: 20px;
    }

    .form-button {
        font-size: 20px;
    }

    .contact-form div {
        padding: 3px;
    }
}
