.nosotros {
    h1 {
        padding-top: 50px;
        font-size: nth($font-size, 1);
        text-align: center;
        color: $color-terciario;
        font-weight: bold;
        /*letra gorda*/
        text-shadow:
            2px 2px 0 black,
            -2px 2px 0 black,
            2px -2px 0 black,
            -2px -2px 0 black;
    }

    h2 {
        color: $color-terciario;
        text-align: center;
        font-size: nth($font-size, 2);
        text-shadow:
            2px 2px 0 black,
            -2px 2px 0 black,
            2px -2px 0 black,
            -2px -2px 0 black;
        height: 30vh;
    }

    .nosotros-historia {
        font-size: nth($font-size, 4);
        margin-left: 50px;
        margin-right: 50px;

        .mostrador {
            display: grid;
            grid-template-columns: 1fr 2fr;

            img {
                width: 600px;
                height: 400px;
            }

            p {
                @include flex (flex, center);
                padding-left: 30px;
                @media (min-width: 1500px){
                    margin-left: 0;
                }
            }
        }
    }

    .nosotros-centro {
        display: grid;
        grid-template-columns: 2fr 1fr;

        img {
            width: 500px;
            @media (min-width: 1500px) {
                height: 280px;
            }
        }

        p {
            grid-row: 1;
            /*el texto está en primer fila y no abajo*/
            @include flex (flex, center);
            padding-right: 50px;
        }
    }

    .entrada {
        display: grid;
        grid-template-columns: 1fr 2fr;
        @media (min-width: 1500px){
            display: flex;
        }

        p {
            @include flex (flex, center);
            margin-left: 50px;
        }
    }

}

.marcas {
    h3 {
        color: $color-principal;
        font-size: 50px;
        display: flex;
        justify-content: center;
        font-family: "Lora", serif;
        height: 30vh;
        align-items: flex-end;
        margin-bottom: 50px;
    }

    .marcass {
        padding: 50px;

        img {    
            height: 100px;
            width: 100px;
        }
    }
}