
.nosotros { h1 {
        padding-top: 50px;
        font-size: nth($font-size,1);
        text-align: center;
        color: $color-terciario;
        font-weight: bold;
        /*letra gorda*/
        text-shadow:
            2px 2px 0 black,
            -2px 2px 0 black,
            2px -2px 0 black,
            -2px -2px 0 black;
    }

    h2 {
        color: $color-terciario;
        text-align: center;
        font-size: nth($font-size,2);
        text-shadow:
            2px 2px 0 black,
            -2px 2px 0 black,
            2px -2px 0 black,
            -2px -2px 0 black;
        margin-bottom: 50px;
    }
    .nosotros-historia {
        font-size: nth($font-size,3);
        margin-left: 50px;
        margin-right: 50px;

        .mostrador {
            display: grid;
            grid-template-columns: 1fr 2fr;

            img {
                width: 600px;
                height: 400px;
            }

            p {
                @include flex (flex,center);
                margin-left: 30px;
            }
        }
    }

    .nosotros-centro {
        display: grid;
        grid-template-columns: 2fr 1fr;

        img {
            width: 500px;
        }

        p {
            grid-row: 1;
            /*el texto está en primer fila y no abajo*/
           @include flex (flex,center);
        }
    }

    .entrada {
        display: grid;
        grid-template-columns: 1fr 2fr;

        p {
            @include flex (flex,center);
            margin-left: 30px;
        }
    }

}

.marcas {
    h3 {
        margin-top: 50px;
        text-align: center;
        margin-bottom: 50px;
    }

    .marcass {
        @include flex-justify (flex,space-evenly);
        padding-bottom: 10px;

        img {
            margin-left: 15px;
            height: 150px;
            width: 150px;
        }
    }
}