.mi-fondo {
    .servicios {
        h3 {
            text-align: center;
            font-size: 30px;
            border-style: solid;
            color: #000;
            background-color: nth($background-color, 2);
            font-weight: bold;
            /*letra gorda*/
            text-shadow:
                2px 2px 0 white,
                -2px 2px 0 white,
                2px -2px 0 white,
                -2px -2px 0 white;
            margin-bottom: 50px;
        }

        div {
            display: flex;
            justify-content: space-between;
            font-size: 25px;

            .div-servicios-cambio {
                padding-left: 20px;
            }

            img {
                width: 230px;
                height: 250px;
            }

            ul {
                color: $color-principal;
                list-style-type: none;

                li {
                    h5 {
                        font-size: 25px;
                        background-color: brown;
                    }
                }

                li {
                    color: $color-principal;
                    width: 215px;
                    padding-bottom: 7px;
                }
            }

            .div-limpieza {
                p {
                    color: $color-principal;
                    padding-left: 15px;
                    width: 230px;
                    padding-right: 50px;
                }
            }
        }
    }
}

@keyframes moverArriba {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.servicios div {
    animation: moverArriba 2s ease-out forwards;
}