.mi-fondo {
    .servicios {
        h3 {
            text-align: center;
            font-size: 30px;
            border-style: solid;
            color: #000;
            background-color: nth($background-color, 2);
            font-weight: bold;
            /*letra gorda*/
            text-shadow:
                2px 2px 0 white,
                -2px 2px 0 white,
                2px -2px 0 white,
                -2px -2px 0 white;
            margin-bottom: 50px;
            margin-left: 50px;
            margin-right: 50px;
        }

        div {
            display: flex;
            font-size: 25px;
            margin-left: 10px;

            .div-verificacion {
                padding-right: 20px;
            }

            .div-servicios-cambio {
                padding-left: 20px;
                padding-right: 20px;
            }

            img {
                width: 230px;
                height: 250px;
            }

            .lista {
                display: flex;
                flex-direction: column;

                h5 {
                    color: $color-principal;
                    font-size: 25px;
                    background-color: brown;
                }

                ul {
                    color: $color-principal;
                    list-style-type: none;
                    padding-left: 0;

                    li {
                        color: $color-principal;
                        width: 230px;
                        padding-bottom: 7px;
                    }
                }
            }

            .div-limpieza {
                p {
                    color: $color-principal;
                    padding-left: 15px;
                    width: 230px;
                    padding-right: 50px;
                }
            }
        }
    }
}

@keyframes moverArriba {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.servicios div {
    animation: moverArriba 2s ease-out forwards;
}

.cotizacion {

    margin-top: 50px;

    h6 {
        font-size: 35px;
        color: $color-principal;
        text-align: center;
        /*background: linear-gradient(90deg, #669bbc, #003049);*/
        background: #C1121F;
background: linear-gradient(90deg, #C1121F 0%, rgba(253, 29, 29, 1) 50%, rgba(242, 241, 240, 1) 100%);
    background-size: 200% 200%;
    animation: gradientAnimation 2s infinite alternate;
    background-clip: text;
    color: transparent;
    font-weight: 1000;
    }

    .row {
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;

        .col-md-3 {
            .form-label {
                color: $color-principal;
                font-size: 20px;
            }
        }
    }

    .col-12 {
        display: flex;
        justify-content: center;
        max-width: 0;
        margin-left: 40px;
        margin-top: 45px;


        .btn {
            border-color: $color-secundario;
            background-color: $color-secundario;
            font-size: 20px;
            padding: 5px;

            &:hover {
                background-color: rgba(6, 225, 6, 0.766);
                transition: background 1s linear;
            }
        }
    }
}

.medios-de-pago {
    padding-top: 50px;
    padding-bottom: 50px;

    div {
        p {
            padding-bottom: 50px;
            padding-top: 50px;
            margin-bottom: 0;
            color: $color-principal;
            font-size: 35px;
            text-align: center;
            font-weight: 600;
        }

        .tarjetas {
            display: flex;
            justify-content: space-around;

            img {
                width: 70px;
                height: 50px;
            }
        }

    }
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}