* {
    margin: 0;
    padding: 0;
    /*usé estas 2 prop para eliminar los bordes*/
    color: black;
    box-sizing: border-box;
    font-family: "Comic Relief", system-ui;
}

header {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
    /*para q mi grilla no pase x arriba*/
    font-size: 20px;

    nav {
        .logo {
            width: 100px;
            height: 100px;
        }

        .container-fluid {
            a {
                color: brown;

                &:hover {
                    color: rgba(6, 225, 6, 0.766);
                }
            }
        }
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='brown' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.d-flex {

    button {
        color: $color-principal;
        border: 3px solid $color-secundario;
        background-color: $color-secundario ;
        transition: background 1s linear;

        &:hover {
            @extend %boton-secundario;
            border: rgba(6, 225, 6, 0.766);
        }
    }
}




.mi-fondo {
    background-color: #003049;
}

h1 {
    padding-top: 50px;
    font-size: nth($font-size, 1);
    text-align: center;
    color: $color-terciario;
    font-weight: bold;
    /*letra gorda*/
    text-shadow:
        2px 2px 0 black,
        -2px 2px 0 black,
        2px -2px 0 black,
        -2px -2px 0 black;
}

h2 {
    color: $color-terciario;
    text-align: center;
    font-size: nth($font-size, 2);
    text-shadow:
        2px 2px 0 black,
        -2px 2px 0 black,
        2px -2px 0 black,
        -2px -2px 0 black;
    margin-bottom: 50px;
}

.footer {
    display: block;
    background-image: url(../img/posible\ footer.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    div {
        display: flex;
        align-items: center;

    }

    a {
        padding-left: 50px;
    }

    .mapa {
        padding-left: 50px;
    }
}

@media screen and (max-width:992px) {
    .navbar {
        display: flex;
        flex-direction: column;

        .logo {
            width: 75px;
            height: 75px;
        }
    }
}

@media screen and (max-width:827px) {
    h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 803px) {
    .mapa {
        width: 300px;
    }

    .footer div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 754px) {
    .footer {
        .mapa {
            height: 200px;
        }
    }
}

@media screen and (max-width: 649px) {
    .mapa {
        width: 250px;
    }
}

@media screen and (max-width:565px) {
    .footer {
        div {
            display: flex;
            justify-content: flex-start !important;
            padding: 30px;

            .mapa {
                height: 100px;
                width: 200px;
            }
        }
    }
}

@media screen and (max-width:515px) {
    header {
        nav {
            .logo {
                width: 50px !important;
                height: 50px !important;
            }

            .container-fluid {
                a {
                    font-size: 15px;
                }

                .d-flex {
                    .btn {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .footer {
        div {
            a {
                padding-left: 30px;
            }
        }
    }
}

@media screen and (max-width:500px) {
    .mi-fondo {
        h1 {
            font-size: 40px;
        }
    }
}

@media screen and (max-width:451px) {
    .footer {
        div {
            a {
                padding-left: 10px;
            }
        }
    }
}

@media screen and (max-width:399px) {
    .footer {
        div {
            a {
                padding-left: 5px;
            }
        }
    }
}

@media screen and (max-width:379px) {
    .footer {
        .mapa {
            width: 100px !important;
            padding-left: 0;
        }
    }
}

@media screen and (max-width:351px) {

    header .navbar {
        position: sticky;
    }

    .header {
        position: sticky;
        top: 0;
    }

    h1 {
        display: flex;
        justify-content: center;
        font-size: 30px;

    }

    h2 {
        font-size: 20px;
    }

    footer {
        div {
            a {
                margin-left: 10px;
            }
        }
    }
}