@media screen and (max-width: 1500px) {
    .nosotros {
        .nosotros-historia {
            .mostrador {
                p {
                    margin-left: 0;
                }
            }
        }
    }

    .nosotros {
        .entrada {
            display: flex;
        }
    }

    .nosotros {
        .nosotros-centro {
            img {
                height: 280px;
            }
        }
    }

    .nosotros {
        .entrada {
            p {
                width: 800px;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    .marcas {
        .marcass {
            display: flex;
            justify-content: space-around;
        }
    }
}

@media screen and (max-width:1497px) {
    .experiencias {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1450px) {
    .nosotros {
        .nosotros-centro {
            img {
                width: 500px;
            }
        }
    }

    .nosotros {
        .entrada {
            img {
                width: 600px;
                height: 300px;
            }
        }
    }

    .servicios {
        margin-left: 50px;

        div {
            div {
                flex-wrap: wrap;

                ul {
                    h5 {
                        margin-top: 15px;
                    }
                }
            }

            .lista {
                margin-left: 0;
            }

            .div-limpieza {
                img {
                    margin-left: 0;
                }

                p {
                    margin-top: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 1365px) {
    .mi-fondo {
        .experiencias {
            display: grid;
            grid-template-columns: 500px 500px;
            justify-content: center;
            /*para que mis img estén bien en el centro*/
            padding-top: 30px;

            div {
                padding-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width: 1348px) {
    .nosotros {
        .nosotros-centro {
            img {
                width: 450px;
            }
        }
    }

    .mi-fondo {
        .titulos-inicio {
            .div-aceites {
                display: grid;
                grid-template-columns: 300px 300px 300px;
            }
        }
    }
}

@media screen and (max-width: 1300px) {

    .nosotros {
        .nosotros-centro {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width:1251px) {
    .nosotros {
        .nosotros-historia {
            .mostrador {
                img {
                    width: 500px;
                    height: 300px;
                }
            }

            .entrada {
                img {
                    width: 400px;
                }
            }
        }
    }


    .contacto {
        div {
            font-size: 25px;
        }
    }

    .contacto {
        div {
            div {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .contacto {
        div {
            div {
                img {
                    width: 40px;
                }
            }
        }
    }

    .mi-fondo {
        .servicios {
            div {
                .div-limpieza {
                    p {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1215px) {
    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                .nosotros-centro {
                    display: grid;
                    grid-template-columns: 600px 500px;
                }

                .marcas {
                    h3 {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .titulos-inicio {
        .div-aceites {
            div {
                h5 {
                    width: 200px;
                }
            }
        }
    }

    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                .mostrador {
                    img {
                        width: 500px;
                    }
                }
            }
        }

        .marcas {
            h3 {
                padding: 30px;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width:1190px) {
    .contacto div {
        flex-direction: column;
        margin: 20px;
    }
}

@media screen and (max-width:1121px) {
    .nosotros {
        .nosotros-historia {
            .mostrador {
                p {
                    padding-left: 30px;
                }
            }

            .nosotros-centro {
                img {
                    width: 400px;
                }
            }

            .entrada {
                p {
                    padding-left: 5px;
                }
            }
        }
    }

    .contacto p {
        padding-left: 50px;
        padding-right: 50px;
    }

    .mi-fondo {
        .hero-productos {
            .div-productos {
                display: grid;
                grid-template-columns: 300px 300px;

                div {
                    h3 {
                        width: 250px;
                    }
                }
            }
        }
    }

    .mi-fondo {
        .experiencias {
            .peugeot {
                #modal {
                    inset-inline-start: 300px;

                    video {
                        height: 400px;
                        width: 450px;
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 1065px) {
    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                .nosotros-centro {
                    display: grid;
                    grid-template-columns: 500px 500px;
                }
            }
        }
    }
}

@media screen and (max-width: 1051px) {
    .nosotros {
        .nosotros-historia {
            p {
                font-size: 20px;
            }
        }
    }

    .nosotros {
        .nosotros-historia {
            .mostrador {
                img {
                    width: 400px;
                    height: 300px;
                }
            }
        }
    }
}

@media screen and (max-width:1000px) {
    .mi-fondo {
        .experiencias {
            display: grid;
            grid-template-columns: 470px 470px;
        }

        .video {
            video {
                width: 400px;
            }
        }
    }

    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                .mostrador {
                    img {
                        width: 350px;
                        height: 200px;
                    }
                }

                .nosotros-centro {
                    img {
                        width: 350px;
                        height: 200px;
                    }
                }

                .entrada {
                    img {
                        width: 350px;
                        height: 200px;
                    }
                }
            }
        }

        .marcas {
            .marcass {
                #multiCarousel {
                    .carousel-inner {
                        .carousel-item {
                            .row {
                                .col {
                                    .w-100 {
                                        height: 70px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width:992px) {
    .navbar {
        display: flex;
        flex-direction: column;

        .logo {
            width: 75px;
            height: 75px;
        }
    }
}

@media screen and (max-width: 975px) {
    .mi-fondo {
        .titulos-inicio {
            .div-aceites {
                display: grid;
                grid-template-columns: 300px 300px;
            }
        }
    }

}

@media screen and (max-width: 915px) {
    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                p {
                    margin-top: 15px;
                    margin-bottom: 30px;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .mostrador {
                    p {
                        padding-left: 0;
                    }
                }

                .nosotros-centro {
                    display: flex;
                    flex-direction: column !important;

                    p {
                        padding-right: 0;
                    }
                }

                .entrada {
                    p {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .mi-fondo {
        .servicios {
            margin-left: 0;

            div {
                display: grid;
                grid-template-columns: 400px 400px;

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;

                    ul {
                        li {
                            width: 300px;
                        }
                    }
                }

                .div-limpieza {
                    img {
                        margin-left: 15px;
                        margin-top: 30px;
                    }

                    p {
                        padding-left: 15px;
                        margin-left: 50px;
                        width: 300px;
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }

    .mi-fondo {
        .servicios {
            div {
                h5 {
                    width: 230px;
                }
            }
        }
    }
}

@media screen and (max-width:875px) {
    .mi-fondo {
        .servicios {
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 866px) {
    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                .entrada {
                    p {
                        width: auto;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:851px) {
    .contacto p {
        font-size: 20px;
    }
}

@media screen and (max-width: 841px) {
    .mi-fondo {
        .titulos-inicio {
            .div-aceites {
                display: grid;
                grid-template-columns: 300px;
            }
        }
    }

    .marcas {
        h3 {
            text-align: center;
            font-size: nth($font-size, 5);
        }
    }
}

@media screen and (max-width:835px) {
    .mi-fondo {
        .experiencias {
            gap: 0;
        }
    }
}

@media screen and (max-width:827px) {
    .mi-fondo {
        .video {
            display: flex;
            flex-direction: column-reverse !important;
            /*important para anular row-reverse*/
            align-items: center;

            video {
                margin-top: 50px;
                margin-bottom: 50px;
            }

            p {
                text-align: center;
                width: auto !important;
                padding: 50px;
            }
        }

        .titulos-inicio {
            h3 {
                padding-top: 0;
            }
        }

        .experiencias {
            display: grid;
            grid-template-columns: 350px 350px;
        }
    }

    h2 {
        font-size: 40px;
    }

    .hero-productos p {
        padding-bottom: 30px;
    }

    .mi-fondo {
        .servicios {
            margin-left: 0;

            div {
                display: grid;
                grid-template-columns: 350px 350px;
            }
        }
    }
}

@media screen and (max-width: 803px) {
    .experiencias p {
        padding-bottom: 30px;
    }

    .peugeot {
        display: flex;
        flex-direction: column;
    }

    #modal {
        inset-inline-start: 230px;
    }

    #modal video {
        width: 350px;
        height: 450px;
    }

    .mi-fondo {
        .marcas {
            h3 {
                height: 30vh;
                padding: 15px;
            }
        }
    }

    .mapa {
        width: 300px;
    }

    .footer div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 768px) {

    .cotizacion {
        margin: 50px;

        .col-12 {
            margin-left: 0;
        }
    }

    .medios-de-pago {
        height: 60vh;
        display: flex;
        align-items: flex-end;
        margin-left: 50px;

    }
}



@media screen and (max-width: 754px) {
    .mi-fondo {
        .experiencias {
            .peugeot {
                #modal {
                    inset-inline-start: 200px;

                    video {
                        height: 340px;
                        width: 350px;
                    }
                }

            }
        }
    }

    .footer {
        .mapa {
            height: 200px;
        }
    }
}

@media screen and (max-width: 725px) {
    .mi-fondo {
        .servicios {
            div {
               
                justify-content: center;
                padding-bottom: 50px;

                .div-limpieza {
                    margin: 0;
                    p {
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 720px) {
    .mi-fondo {
        .servicios {
            div {

                .div-verificacion {
                    h5 {
                        margin-left: 20px;
                    }

                    img {
                        margin-left: 20px;
                    }

                    ul {

                        margin-left: 20px;

                    }
                }

                .div-limpieza {
                    img {
                        margin-left: 20px;
                    }

                    p {
                        padding-right: 0;
                        padding-left: 0;
                        margin-left: 20px;
                        width: 250px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 714px) {
    .mi-fondo {
        .titulos-inicio {
            h4 {
                font-size: nth($font-size, 5);
            }
        }
    }

    .mi-fondo {
        h1 {
            font-size: 50px;
            padding-top: 30px;
        }
    }

    .nosotros-historia div {
        display: flex;
        align-items: center;
    }

    .nosotros-historia p {
        font-size: 20px;
        padding-bottom: 30px;
    }

    .entrada img {
        width: 499px;
    }

    .entrada p {
        width: 499px;
    }

    .servicios div {
        grid-template-columns: 300px 300px;
    }
}

@media screen and (max-width: 700px) {
    .mi-fondo {
        .div-aceites {
            margin: 0;
        }
    }


    .mi-fondo {
        .titulos-inicio {
            .tres-img-texto {
                width: 500px;
            }
        }
    }

    .mi-fondo {
        .experiencias {
            display: grid;
            grid-template-columns: 300px;
        }
    }

    .mi-fondo {
        .hero-productos {
            p {
                font-size: 25px;
                padding-bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 693px) {
    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                .entrada {
                    p {
                        width: 550px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 649px) {
    .mi-fondo {
        .video {
            p {
                padding-top: 0;
            }
        }

        .titulos-inicio {
            p {
                font-size: 20px;
            }
        }
    }

    .nosotros-historia p {
        /*width: 500px;*/
        padding-bottom: 20px;
    }

    .mapa {
        width: 250px;
    }

    .div-aceites {
        display: grid;
        grid-template-columns: 250px 250px;
    }

    .mi-fondo {
        .hero-productos {
            .div-productos {
                display: grid;
                grid-template-columns: 300px;
            }
        }
    }

    .mi-fondo {
        .medios-de-pago {
            margin: 0;
        }
    }

    .mi-fondo {
        .formulario {
            div {
                font-size: 25px;
            }
        }
    }
}

@media screen and (max-width:638px) {
    .video-container video {
        width: 500px;
    }

    .div-productos {
        display: grid;
        grid-template-columns: 250px 250px;
    }

    .mi-fondo {
        .marcas {
            .marcass {
                #multiCarousel {
                    .carousel-inner {
                        .carousel-item {
                            .row {
                                .col {
                                    .w-100 {
                                        width: 50px !important;
                                        height: 50px !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .mi-fondo {
        .preguntas-frecuentes {
            padding: 0;
        }
    }
}

@media screen and (max-width:600px) {

    .mi-fondo {
        .titulos-inicio {
            .tres-img-texto {
                width: 450px;
            }
        }
    }

    .mi-fondo {
        .experiencias {
            .peugeot {
                #modal {
                    inset-inline-start: 140px;

                    video {
                        height: 340px;
                        width: 300px;
                    }
                }

            }
        }
    }
}

@media screen and (max-width:565px) {
    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                .entrada {
                    p {
                        padding-left: 0;
                        width: 450px;
                    }
                }
            }
        }
    }

    .footer {
        div {
            display: flex;
            justify-content: flex-start !important;
            padding: 30px;

            .mapa {
                height: 100px;
                width: 200px;
            }
        }
    }

}

@media screen and (max-width:558px) {
    .mi-fondo {
        .titulos-inicio {
            .linea-divisoria {
                display: none;
            }
        }
    }

    .mi-fondo {
        .titulos-inicio {
            .tres-img-texto {
                padding-left: 0;
            }
        }
    }

    .mi-fondo {
        .medios-de-pago {
            p {
                font-size: 25px;
                margin: 15px;
            }

            .tarjetas {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}

@media screen and (max-width:515px) {
    header {
        nav {
            .logo {
                width: 50px !important;
                height: 50px !important;
            }

            .container-fluid {
                a {
                    font-size: 15px;
                }

                .d-flex {
                    .btn {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .mi-fondo {
        .titulos-inicio {
            .tres-img-texto {
                width: 400px;
            }
        }
    }

    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                .mostrador {
                    img {
                        width: 400px;
                        height: 300px;
                    }
                }
            }
        }
    }

    .footer {
        div {
            a {
                padding-left: 30px;
            }
        }
    }
}

@media screen and (max-width:500px) {
    .mi-fondo {

        h1 {
            font-size: 40px;
        }

    }

    .mi-fondo {
        .video-container {
            h2 {
                font-size: 30px;
                width: 250px;
                margin-bottom: 0;
            }
        }
    }

    .mi-fondo {
        .nosotros {

            h2 {
                font-size: 30px;
                height: 5vh;
            }

        }
    }

    .video-container video {
        display: none;
    }

    .mi-fondo {
        .experiencias {
            .peugeot {
                #openModal {
                    width: 250px;
padding: 0;
                }
            }
        }
    }

    .experiencias div {
        margin-left: 0;
    }

    .experiencias div img {
        width: 250px;
        height: 250px;
    }

    .mi-fondo {
        .experiencias {
            div {
                p {
                    width: 250px;
                    margin-left: 0;
                }
            }
        }
    }

    #openModal {
        width: 250px;
        padding: 0;
    }

    .mi-fondo {
        .titulos-inicio {
            h4 {
                font-size: nth($font-size, 3);
            }

            .tres-img-texto {
                padding-left: 0;
                width: 380px;
            }
        }
    }
}

@media screen and (max-width: 465px) {
    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                .entrada {
                    p {
                        width: 350px;
                    }
                }
            }
        }
    }

    .marcas {
        .marcass {
            #multiCarousel {
                .carousel-inner {
                    .carousel-item {
                        .row {
                            --bs-gutter-x: 0.5rem;
                        }
                    }
                }
            }
        }
    }

    .mi-fondo {
        .formulario {
            div {
                font-size: 20px;

                .contact-form {
                    div {
                        .form-input {
                            height: 20px;
                            width: 100px;
                        }
                    }

                    .form-button {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .mi-fondo {
        .hero-productos {
            p {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

@media screen and (max-width: 499px) {

    .nosotros-centro p {
        width: 349px;
    }

    .mi-fondo {
        .nosotros {
            .nosotros-historia {

                p {
                    width: 350px;
                    text-align: center;
                }
            }
        }
    }


    .mi-fondo {
        .marcas {
            .marcass {
                img {
                    margin-left: 0;
                }
            }
        }
    }

    .marcas h3 {
        text-align: center;
    }

    .div-productos {
        display: grid;
        grid-template-columns: 250px;
    }

    .medios-de-pago {
        .tarjetas {
            img {
                padding: 5px;
            }
        }
    }
}

@media screen and (max-width:451px) {
    .focus img {
        width: 350px;
    }

    .formulario h2 {
        font-size: 30px;
    }

    .mi-fondo {
        .video {
            video {
                display: none;
            }

            p {
                font-size: 20px !important;
            }
        }

        .titulos-inicio {
            .tres-img-texto {
                width: 340px;
            }
        }

        .experiencias {
            .peugeot {
                #modal {
                    inset-inline-start: 60px;

                    video {
                        height: 340px;
                        width: 250px;
                    }
                }
            }
        }
    }

    .mi-fondo {
        .marcas {
            h3 {
                font-size: 30px;
            }
        }
    }

    .mi-fondo {
        .servicios {
            div {
                font-size: 20px;

                ul {
                    h5 {
                        margin-right: 30px;
                    }
                }
            }
        }
    }

    .footer {
        div {
            a {
                padding-left: 10px;
            }
        }
    }
}

@media screen and (max-width:435px) {
    .mi-fondo {
        .medios-de-pago {
            p {
                padding-bottom: 0;
            }
        }
    }

    .mi-fondo {
        .servicios {
            h3 {
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width:415px) {
    .mi-fondo {
        .titulos-inicio {
            p {
                padding: 10px;
            }

            .tres-img-texto {
                width: 300px;
            }
        }
    }

    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                p {

                    width: 300px;
                }

                .mostrador {
                    img {
                        width: 300px;
                        height: 250px;
                    }
                }

                .nosotros-centro {

                    img {
                        width: 300px;
                    }
                }

                .entrada {
                    img {
                        width: 350px;
                    }
                }
            }
        }
    }

}

@media screen and (max-width:399px) {
    .mi-fondo {
        .video-container {
            h1 {
                font-size: 30px;
            }
        }
    }

    .mi-fondo {
        .hero-productos {
            h1 {
                font-size: nth($font-size, 3);
            }

            h2 {
                font-size: nth($font-size, 4);
            }

            p {
                font-size: 20px;
                padding-bottom: 0;
            }

            .div-productos {
                display: grid;
                grid-template-columns: 200px;

                .card {
                    display: grid;
                    grid-template-columns: 200px;
                    width: 12.8rem;

                    .card-body {
                        padding: 10px;

                        h3 {
                            font-size: 15px;
                            width: 200px;
                            padding-right: 15px;
                        }
                    }

                    img {
                        margin-left: 20px;
                        width: 150px;
                        height: 150px;
                    }

                    a {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    .medios-de-pago {
        .tarjetas {
            img {
                padding-top: 10px;
            }
        }
    }

    .mi-fondo {
        .titulos-inicio {

            p {
                font-size: 20px;
                padding-bottom: 0;
            }

            .div-aceites {
                display: grid;
                grid-template-columns: 240px;
                grid-template-rows: 300px;

                div {
                    height: 45vh;

                    h5 {
                        font-size: 20px;
                        width: 200px;
                    }

                    img {
                        width: 150px;
                        height: 150px;
                    }

                    a {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .mi-fondo {
        .video-container {
            h2 {
                font-size: 20px;
                width: 250px;
                margin-bottom: 0;
            }
        }
    }

    .mi-fondo {
        .titulos-inicio {
            h3 {
                font-size: 30px;
                margin-top: 20px;
            }
        }
    }

    .mi-fondo {
        .titulos-inicio {
            h4 {
                font-size: nth($font-size, 4);
            }

            .div-aceites {
                margin-left: 0;
            }
        }
    }

    .nosotros {
        .nosotros-historia {
            .mostrador {
                img {
                    width: 300px;
                }
            }

            .entrada {
                img {
                    width: 300px;
                }
            }
        }
    }

    .marcas {
        .marcass {
            padding: 20px;
        }
    }

    .mi-fondo {
        .servicios {
            div {
                div {
                    ul {
                        padding-left: 0;

                        h5 {
                            padding-right: 50px;
                        }
                    }
                }

                .div-limpieza {
                    p {
                        text-align: start;
                        margin-left: 50px;
                    }
                }
            }
        }
    }

    .formulario {
        h2 {
            font-size: 25px;
        }
    }

    .footer {
        div {
            a {
                padding-left: 5px;
            }
        }
    }
}

@media screen and (max-width:379px) {
    .mi-fondo {
        .titulos-inicio {
            .tres-img-texto {
                width: auto;
                font-size: 20px;
            }
        }
    }

    .cambio-focos img {
        width: 350px;
    }

    .marcas {
        .marcass {
            #multiCarousel {
                .carousel-inner {
                    .carousel-item {
                        .row {
                            --bs-gutter-y: 0.5rem;
                        }
                    }
                }
            }
        }
    }

    .footer {
        .mapa {
            width: 100px !important;
            padding-left: 0;
        }
    }

}

@media screen and (max-width:365px) {
    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                .entrada {
                    img {
                        width: 300px;
                    }

                    p {
                        width: 300px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:360px) {
    .cambio-focos p {
        width: 340px;
    }

    .mi-fondo {
        .titulos-inicio {
            p {
                font-size: 15px;
                margin: 15px;
            }
        }
    }

    .mi-fondo {
        .hero-productos {
            p {
                padding: 20px;
            }
        }
    }
}

/*!--- MEDIA QUARY 350 PARA ABAJO-------*/
@media screen and (max-width:351px) {

    h2 {
        font-size: 20px;
    }

    .mi-fondo {
        .video {
            margin-bottom: 0 !important;
        }

        .titulos-inicio {
            .tres-img-texto {
                width: 250px;
                padding-top: 15px;
            }

            .div-aceites {
                div {
                    width: 250px;
                }
            }
        }
    }

    h1 {
        display: flex;
        justify-content: center;
        font-size: 30px;

        &::after {
            content: "✨"
        }

        &::before {
            content: "✨";
        }
    }

    .mi-fondo {
        .hero-productos {
            p {
                font-size: nth($font-size , 4);
            }

            .div-productos {
                margin-left: 0;

                div {
                    h3 {
                        width: 250px;
                    }
                }
            }
        }
    }

    header .navbar {
        position: sticky;
    }

    .header {
        position: sticky;
        top: 0;
    }

    .video-container video {
        display: none;
    }

    .mi-fondo {
        .experiencias {
            div {
                p {
                    width: 200px;
                    font-size: 15px;
                }

                img {
                    height: 200px;
                    width: 200px;
                }
            }
        }
    }

    .mi-fondo {
        .experiencias {
            .peugeot {
                #openModal {
                    width: 200px;
                    padding: 5px;
                    font-size: 15px;
                }
            }
        }
    }

    .mi-fondo {
        .experiencias {
            .peugeot {
                #modal {
                    inset-inline-start: 25px;

                    video {
                        height: 300px;
                        width: 250px;
                    }

                    #closeModal {
                        font-size: 15px;
                        padding: 10px;
                    }
                }

            }
        }
    }

    .mi-fondo {
        .nosotros {
            h1 {
                font-size: nth($font-size, 3);
            }

            h2 {
                font-size: 20px;
                width: 250px;
                margin-left: 50px;
                height: 100px;
            }

            p {
                font-size: 15px;

            }

            .nosotros-historia {
                p {
                    margin-top: 0;
                }

                img {
                    width: 300px;
                    padding: 15px;
                }

            }
        }
    }

    .marcas {
        h3 {
            height: 20vh !important;
            font-size: 25px !important;
            margin-bottom: 0;
        }
    }

    .hero-productos .div-productos {
        display: grid;
        grid-template-columns: 300px;
        margin-left: 25px;
    }

    .hero-productos p {
        margin-bottom: 50px;
        padding: 5px;
    }

    .mi-fondo {
        .servicios {
            margin-left: 0;

            h3 {
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 50px;
            }

            div {
                .div-servicios-cambio {
                    padding: 0;

                    img {
                        width: 200px;
                        height: 200px;
                    }

                    .lista {
                        h5 {
                            width: 200px;
                        }

                        ul {
                            li {
                                width: 200px;
                                font-size: 15px;
                            }
                        }
                    }
                }

                .div-verificacion {
                    padding-right: 0;
                    padding-bottom: 0;

                    img {
                        width: 200px;
                        height: 200px;
                        margin: 0;
                    }

                    .lista {
                        h5 {
                            width: 200px;
                            margin-left: 0;
                        }

                        ul {
                            margin-left: 0;

                            li {
                                width: 200px;
                                font-size: 15px;

                            }
                        }
                    }
                }

                .div-limpieza {
                    img {
                        width: 200px;
                        height: 200px;
                        margin: 0;
                    }

                    p {
                        margin: 0;
                        width: 200px;
                        font-size: 15px;
                    }
                }
            }
        }

        .cotizacion {
            margin-top: 0;
            margin-bottom: 0;

            h6 {
                font-size: 25px;
            }

            .row {
                height: auto;

                .col-md-3 {
                    .form-label {
                        font-size: 15px;
                    }
                }
            }
        }

        .medios-de-pago {
            height: auto;
            padding-top: 0;
        }
    }

    .contacto p {
        font-size: 20px;
        padding: 15px;
        padding-top: 30px;
    }

    .contacto div div {
        font-size: 20px;
    }

    .contact-form {
        font-size: 20px;
    }

    .contact-form div input {
        width: 130px;
        height: 20px;
    }

    .form-button {
        font-size: 20px;
    }

    .contact-form div {
        padding: 3px;
    }

    footer {
        div {
            a {
                margin-left: 10px;
            }
        }
    }
}