@media screen and (max-width: 1500px) {
    .nosotros {
        .nosotros-historia {
            .mostrador {
                p {
                    margin-left: 0;
                }
            }
        }
    }

    .nosotros {
        .entrada {
            display: flex;
        }
    }

    .nosotros {
        .nosotros-centro {
            img {
                height: 280px;
            }
        }
    }

    .nosotros {
        .entrada {
            p {
                width: 800px;
                margin-bottom: 0;
                padding-bottom: 0;
                margin-left: 0;
            }
        }
    }

    .marcas {
        .marcass {
            display: flex;
            justify-content: space-evenly;
            padding-bottom: 10px;
        }
    }
}

@media screen and (max-width:1497px) {
    .experiencias {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1450px) {
    .nosotros {
        .nosotros-centro {
            img {
                width: 500px;
            }
        }
    }

    .nosotros {
        .entrada {
            img {
                width: 600px;
                height: 300px;
            }
        }
    }

    .servicios {
        margin-left: 50px;

        div {
            div {
                flex-wrap: wrap;

                ul {
                    h5 {
                        margin-top: 15px;
                    }
                }
            }

            .lista {
                margin-left: 0;
            }

            .div-limpieza {
                img {
                    margin-left: 0;
                }

                p {
                    margin-top: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 1365px) {
    .mi-fondo {
        .experiencias {
            display: grid;
            grid-template-columns: 500px 500px;
            justify-content: center;
            /*para que mis img estén bien en el centro*/
            padding-top: 30px;

            div {
                padding-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width: 1348px) {
    .nosotros {
        .nosotros-centro {
            img {
                width: 450px;
            }
        }
    }

    .mi-fondo {
        .titulos-inicio {
            .div-aceites {
                display: grid;
                grid-template-columns: 300px 300px 300px;
            }
        }
    }
}

@media screen and (max-width: 1300px) {

    .nosotros {
        .nosotros-centro {
            display: grid;
            grid-template-columns: 700px 500px;
        }
    }
}

@media screen and (max-width:1251px) {
    .nosotros {
        .entrada {
            img {
                width: 400px;
            }
        }
    }


    .contacto {
        div {
            font-size: 25px;
        }
    }

    .contacto {
        div {
            div {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .contacto {
        div {
            div {
                img {
                    width: 40px;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .titulos-inicio {
        .div-aceites {
            div {
                h5 {
                    width: 200px;
                }
            }
        }
    }

    .titulos-inicio {
        .div-aceites {
            display: grid;
            grid-template-columns: 350px 350px;
        }
    }

    .nosotros {
        .nosotros-historia {
            .mostrador {
                img {
                    width: 500px;
                }
            }
        }
    }

    .nosotros {
        .nosotros-centro {
            display: grid;
            grid-template-columns: 600px 500px;
        }
    }
}

@media screen and (max-width:1190px) {
    .contacto div {
        flex-direction: column;
        margin: 20px;
    }

    .titulos-inicio {
        .div-aceites {
            display: grid;
            grid-template-columns: 350px 350px;
        }
    }
}

@media screen and (max-width:1121px) {
    .nosotros {
        .nosotros-historia {
            .entrada {
                p {
                    padding-left: 5px;
                }
            }
        }
    }

    .nosotros {
        .nosotros-historia {
            .mostrador {
                p {
                    padding-left: 5px;
                }
            }
        }
    }

    .nosotros {
        .nosotros-historia {
            .nosotros-centro {
                img {
                    width: 400px;
                }
            }
        }
    }

    .contacto p {
        padding-left: 50px;
        padding-right: 50px;
    }

    .mi-fondo {
        .hero-productos {
            .div-productos {
                display: grid;
                grid-template-columns: 300px 300px;

                div {
                    h3 {
                        width: 250px;
                    }
                }
            }
        }
    }

    .mi-fondo {
        .experiencias {
            .peugeot {
                #modal {
                    inset-inline-start: 300px;

                    video {
                        height: 400px;
                        width: 450px;
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 1051px) {
    .nosotros {
        .nosotros-historia {
            p {
                font-size: 20px;
            }
        }
    }

    .nosotros {
        .nosotros-historia {
            .mostrador {
                img {
                    width: 400px;
                    height: 300px;
                }
            }
        }
    }

    .nosotros {
        .nosotros-historia {
            .nosotros-centro {
                display: grid;
                grid-template-columns: 500px 500px;
            }
        }
    }
}

@media screen and (max-width:1000px) {
    .mi-fondo {
        .video {
            video {
                width: 400px;
            }
        }
    }

    .experiencias {
        display: grid;
        grid-template-columns: 470px 470px;
    }

    .nosotros {
        .nosotros-historia {
            .nosotros-centro {
                img {
                    width: 350px;
                    height: 200px;
                }
            }
        }
    }

    .nosotros {
        .nosotros-historia {
            .entrada {
                img {
                    height: 200px;
                }
            }
        }
    }
}

@media screen and (max-width:992px) {
    .navbar {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 960px) {
    .mi-fondo {
        .titulos-inicio {
            .div-aceites {
                display: grid;
                grid-template-columns: 300px 300px;
            }
        }
    }

}

@media screen and (max-width: 900px) {
    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }

    .nosotros-historia p {
        margin-bottom: 30px;
    }

    .marcass {
        display: grid;
        grid-template-columns: 150px 150px 150px 150px 150px;
    }

    .mi-fondo {
        .servicios {
            div {
                display: grid;
                grid-template-columns: 400px 400px;

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    ul {
                        li {
                            width: 300px;
                        }
                    }
                }

                .div-limpieza {
                    img {
                        margin-left: 20px;
                    }

                    p {
                        margin-left: 10px;
                        width: 300px;
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:851px) {
    .contacto p {
        font-size: 20px;
    }
}

@media screen and (max-width: 841px) {

    .div-aceites {
        display: grid;
        grid-template-columns: 300px 300px;
        gap: 50px;
        margin-left: 50px;
    }

    .mi-fondo {
        .servicios {
            div {
                h5 {
                    width: 250px;
                }
            }
        }
    }
}

@media screen and (max-width:827px) {
    .mi-fondo {
        .video {
            display: flex;
            flex-direction: column-reverse !important;
            /*important para anular row-reverse*/
            align-items: center;

            video {
                margin-top: 50px;
                margin-bottom: 50px;
            }

            p {
                text-align: center;
                width: auto !important;
                padding: 50px;
            }
        }

        .experiencias {
            display: grid;
            grid-template-columns: 350px 350px;
        }
    }

    h2 {
        font-size: 40px;
    }

    .hero-productos p {
        padding-bottom: 30px;
    }

    .marcas {
        h3 {
            text-align: center;
            font-size: nth($font-size, 5);
        }

        .marcass {
            img {
                margin-left: 0px;
            }
        }
    }
}

@media screen and (max-width: 803px) {
    .experiencias p {
        padding-bottom: 30px;
    }

    .peugeot {
        display: flex;
        flex-direction: column;
    }

    #modal {
        inset-inline-start: 230px;
    }

    #modal video {
        width: 350px;
        height: 450px;
    }

    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                .entrada {
                    p {
                        width: 700px;
                        text-align: center;
                    }
                }
            }
        }

        .marcas {
            h3 {
                height: 30vh;
                padding: 15px;
            }
        }
    }

    .mapa {
        width: 300px;
    }

    .footer div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 767px) {
    .mi-fondo {
        .marcas {
            .marcass {
                display: grid;
                grid-template-columns: 100px 100px 100px;
                gap: 20px;
            }
        }
    }

    .mi-fondo {
        .cotizacion {
            margin: 50px;
        }

        .medios-de-pago {
            height: 60vh;
            display: flex;
            align-items: flex-end;
            margin-left: 50px;
        }
    }
}


@media screen and (max-width: 754px) {
    .mi-fondo {
        .experiencias {
            .peugeot {
                #modal {
                    inset-inline-start: 200px;

                    video {
                        height: 340px;
                        width: 350px;
                    }
                }

            }
        }
    }

    .marcass {
        display: grid;
        grid-template-columns: 30% 30% 30%;
    }
}

@media screen and (max-width: 720px) {
    .mi-fondo {
        .servicios {
            div {
                display: grid;
                grid-template-columns: 300px;
                justify-content: center;
                padding-bottom: 50px;

                .div-verificacion {
                    h5 {
                        margin-left: 20px;
                    }

                    img {
                        margin-left: 20px;
                    }

                    ul {

                        margin-left: 20px;

                    }
                }

                .div-limpieza {
                    img {
                        margin-left: 20px;
                    }

                    p {
                        padding-right: 0;
                        padding-left: 0;
                        margin-left: 20px;
                        width: 250px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 714px) {
    .mi-fondo {
        .titulos-inicio {
            h4 {
                font-size: nth($font-size, 5);
            }

            .div-aceites {
                display: grid;
                grid-template-columns: 300px;
            }
        }
    }

    .mi-fondo {
        .video-container {
            h1 {
                font-size: 50px;
                padding-top: 30px;
            }
        }
    }

    .nosotros-historia div {
        display: flex;
        align-items: center;
    }

    .nosotros-historia p {
        font-size: 20px;
        padding-bottom: 30px;
    }

    .entrada img {
        width: 499px;
    }

    .entrada p {
        width: 499px;
    }

    .servicios div {
        grid-template-columns: 300px 300px;
    }
}

@media screen and (max-width: 700px) {
    .mi-fondo {
        .div-aceites {
            margin: 0;
        }
    }


    .mi-fondo {
        .titulos-inicio {
            .tres-img-texto {
                width: 500px;
                margin-left: 50px;

            }
        }
    }

    .mi-fondo {
        .experiencias {
            display: grid;
            grid-template-columns: 350px;
        }
    }
}

@media screen and (max-width: 693px) {
    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                .entrada {
                    p {
                        width: 550px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 649px) {
    .mi-fondo {
        .titulos-inicio {
            p {
                font-size: 20px;
            }
        }
    }


    .nosotros h1,
    h2 {
        font-size: 50px;
    }

    .nosotros-historia p {
        /*width: 500px;*/
        padding-bottom: 20px;
    }

    .mapa {
        width: 250px;
    }

    .div-aceites {
        display: grid;
        grid-template-columns: 250px 250px;
    }

    .mi-fondo {
        .hero-productos {
            .div-productos {
                display: grid;
                grid-template-columns: 300px;
            }
        }
    }

    .mi-fondo {
        .medios-de-pago {
            margin: 0;
        }
    }
}

@media screen and (max-width:638px) {
    .video-container video {
        width: 500px;
    }

    .div-productos {
        display: grid;
        grid-template-columns: 250px 250px;
    }
}

@media screen and (max-width:600px) {

    .mi-fondo {
        .titulos-inicio {
            .tres-img-texto {
                width: 450px;
                padding-left: 50px;
            }
        }
    }

    .mi-fondo {
        .experiencias {
            .peugeot {
                #modal {
                    inset-inline-start: 140px;

                    video {
                        height: 340px;
                        width: 300px;
                    }
                }

            }
        }
    }
}

@media screen and (max-width:558px) {
    .mi-fondo {
        .titulos-inicio {
            .linea-divisoria {
                display: none;
            }
        }
    }

    .mi-fondo {
        .titulos-inicio {
            .tres-img-texto {
                padding-left: 0;
            }
        }
    }

    .mi-fondo {
        .marcas {
            .marcass {
                display: grid;
                grid-template-columns: 100px 100px;
            }
        }
    }

    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                .entrada {
                    p {
                        width: 450px;
                    }
                }
            }
        }
    }

    .footer {
        div {
            a {
                padding-left: 0;
            }
        }
    }
}

@media screen and (max-width:500px) {
    .mi-fondo {
        .video-container {
            h1 {
                font-size: 40px;
            }
        }
    }

    .mi-fondo {
        .video-container {
            h2 {
                font-size: 30px;
                width: 250px;
                margin-bottom: 0;
            }
        }
    }

    .video-container video {
        display: none;
    }

    .mi-fondo {
        .experiencias {
            .peugeot {
                #openModal {
                    width: 250px;

                }
            }
        }
    }

    .experiencias div {
        margin-left: 0;
    }

    .experiencias div img {
        width: 250px;
        height: 250px;
    }

    .mi-fondo {
        .experiencias {
            div {
                p {
                    width: 250px;
                    margin-left: 0;
                }
            }
        }
    }

    #openModal {
        width: 250px;
        padding: 0;
    }

    .mi-fondo {
        .titulos-inicio {
            h4 {
                font-size: nth($font-size, 3);
            }

            .tres-img-texto {
                padding-left: 0;
                width: 380px;
            }
        }
    }
}

@media screen and (max-width: 499px) {


    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                .mostrador {
                    img {
                        width: 350px;
                        height: 300px;
                    }
                }
            }
        }
    }

    .nosotros-centro p {
        width: 349px;
    }

    .mi-fondo {
        .nosotros {
            .nosotros-historia {

                p {
                    width: 350px;
                    text-align: center;
                }
            }
        }
    }


    .mi-fondo {
        .marcas {
            .marcass {
                img {
                    margin-left: 0;
                }
            }
        }
    }

    .marcas h3 {
        text-align: center;
    }

    .mapa {
        width: 200px;
        height: 200px;
    }

    .div-productos {
        display: grid;
        grid-template-columns: 250px;
    }
}

@media screen and (max-width:451px) {
    .focus img {
        width: 350px;
    }

    .formulario h2 {
        font-size: 30px;
    }

    .mi-fondo {
        .video {
            video {
                display: none;
            }
            p {
                font-size: 20px !important;
            }
        }
        .titulos-inicio {
            .tres-img-texto {
                width: 340px;
            }
        }

        .experiencias {
            .peugeot {
                #modal {
                    inset-inline-start: 60px;

                    video {
                        height: 340px;
                        width: 250px;
                    }
                }
            }
        }

    }

    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                .entrada {
                    p {
                        width: 350px;
                    }
                }
            }
        }
    }

    .mi-fondo {
        .servicios {
            div {
                font-size: 20px;

                ul {
                    h5 {
                        margin-right: 30px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:399px) {
    .mi-fondo {
        .nosotros {
            .nosotros-historia {
                .entrada {
                    img {
                        width: 350px;
                    }
                }
            }
        }
    }

    .mi-fondo {
        .video-container {
            h1 {
                font-size: 30px;
            }
        }
    }

    .mi-fondo {
        .hero-productos {
            h1 {
                font-size: nth($font-size, 3);
            }

            h2 {
                font-size: nth($font-size, 4);
            }
        }
    }

    .mi-fondo {
        .video-container {
            h2 {
                font-size: 20px;
                width: 250px;
                margin-bottom: 0;
            }
        }
    }

    .mi-fondo {
        .titulos-inicio {
            h3 {
                font-size: 30px;
                margin-top: 20px;
            }
        }
    }

    .mi-fondo {
        .titulos-inicio {
            h4 {
                font-size: nth($font-size, 4);
            }

            .div-aceites {
                margin-left: 0;
            }
        }
    }

    .nosotros {
        .nosotros-historia {
            .entrada {
                img {
                    width: 300px;
                }
            }
        }
    }

    .mi-fondo {
        .marcas {
            .marcass {
                img {
                    height: 100px;
                    width: 100px;
                }
            }
        }
    }

    .mi-fondo {
        .servicios {
            div {
                div {
                    ul {
                        padding-left: 0;

                        h5 {
                            padding-right: 50px;
                        }
                    }
                }

                .div-limpieza {
                    p {
                        text-align: start;
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:379px) {
    .cambio-focos img {
        width: 350px;
    }
}

@media screen and (max-width:360px) {
    .cambio-focos p {
        width: 340px;
    }
}

/*!--- MEDIA QUARY 350 PARA ABAJO-------*/
@media screen and (max-width:351px) {

    h2 {
        font-size: 20px;
    }

    .mi-fondo {
        .titulos-inicio {
            .tres-img-texto {
                width: 250px;
                font-size: 20px;
                padding-top: 15px;
            }

            p {
                font-size: 15px;
                margin: 15px;
            }

            .div-aceites {
                margin-left: 50px;

                div {
                    width: 250px;
                }
            }
        }
    }

    h1 {
        display: flex;
        justify-content: center;
        font-size: 30px;

        &::after {
            content: "✨"
        }

        &::before {
            content: "✨";
        }
    }

    .mi-fondo {
        .hero-productos {
            p {
                font-size: nth($font-size , 4);
            }

            .div-productos {
                margin-left: 0;

                div {
                    h3 {
                        width: 250px;
                    }
                }
            }
        }
    }

    header .navbar {
        position: sticky;
    }

    .header {
        position: sticky;
        top: 0;
    }

    .video-container video {
        display: none;
    }

    .mi-fondo {
        .experiencias {
            div {
                p {
                    width: 200px;
                    font-size: 15px;
                }

                img {
                    height: 200px;
                    width: 200px;
                }
            }
        }
    }

    .mi-fondo {
        .experiencias {
            .peugeot {
                #openModal {
                    width: 200px;
                    padding: 5px;
                }
            }
        }
    }

    .mi-fondo {
        .experiencias {
            .peugeot {
                #modal {
                    inset-inline-start: 25px;

                    video {
                        height: 340px;
                        width: 300px;
                    }
                }

            }
        }
    }

    .mi-fondo {
        .nosotros {
            h1 {
                font-size: nth($font-size, 3);
            }

            h2 {
                font-size: 20px;
                width: 250px;
                margin-left: 50px;
                height: 100px;
            }

            p {
                font-size: 20px;
                padding: 15px;
            }

            .nosotros-historia {
                img {
                    width: 300px;
                    padding: 15px;
                }
            }
        }
    }

    .marcas {
        h3 {
            padding: 5px;
            font-size: nth($font-size, 3);
        }

        .marcass {
            display: grid;
            grid-template-columns: 100px 100px 100px;
            gap: 10px;
            padding-bottom: 10px;
        }

        img {
            width: 70px;
            height: 70px;
        }

    }

    .hero-productos .div-productos {
        display: grid;
        grid-template-columns: 300px;
        margin-left: 25px;
    }

    .hero-productos p {
        margin-bottom: 50px;
        padding: 5px;
    }

.mi-fondo {
    .servicios {
        margin-left: 0;
        h3 {
            font-size: 20px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 50px;
        }
    }
}
    .contacto p {
        font-size: 20px;
    }

    .contact-form {
        font-size: 20px;
    }

    .contact-form div input {
        width: 130px;
        height: 20px;
    }

    .form-button {
        font-size: 20px;
    }

    .contact-form div {
        padding: 3px;
    }

    .footer {
        padding: 5px;

        .mapa {
            width: 180px;
            padding-left: 5px;
        }
    }

}